My_workflow_4 (7).json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "upload_brief",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        3420,
        600
      ],
      "id": "287d151e-4d8c-4213-aef0-7d935d69ed48",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        3660,
        840
      ],
      "id": "c6996f0b-2e26-46d6-a307-4a9d5732c1f1",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "u9aceB5q3qTmEMD0",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-chat-latest",
          "mode": "list",
          "cachedResultName": "gpt-5-chat-latest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4020,
        840
      ],
      "id": "775ecadb-8dda-4bbc-b888-f280da86e9c2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dFl1HBU3NdFPtZDH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// STEP 1: GET ALL AGENT OUTPUTS\n// =============================================\nvar briefData = $('AI Agent1').first().json.output || '';\nvar researchData = $('AI Agent2').first().json.output || '';\nvar firstHalf = $('AI Agent 3A').first().json.output || '';\nvar secondHalf = $('AI Agent 3B').first().json.output || '';\n\n// Combine both halves\nvar reportContent = firstHalf + '\\n\\n' + secondHalf;\n\n// =============================================\n// STEP 2: PARSE BRIEF JSON\n// =============================================\nvar briefJSON = {};\ntry {\n  briefJSON = JSON.parse(briefData);\n} catch (e) {\n  var jsonMatch = briefData.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      briefJSON = JSON.parse(jsonMatch[0]);\n    } catch (e2) {\n      briefJSON = {};\n    }\n  }\n}\n\nvar university = briefJSON.university_name || 'University';\nvar moduleName = briefJSON.module_name || 'Module';\nvar moduleCode = briefJSON.module_code || '';\nvar moduleLead = briefJSON.module_lead || '';\nvar refStyle = briefJSON.referencing_style || '';\nvar submissionDate = briefJSON.submission_date || '';\nvar assignmentTitle = briefJSON.assignment_title || 'Assignment';\nvar academicLevel = briefJSON.academic_level || '';\n\n// =============================================\n// STEP 3: EXTRACT WORD COUNT\n// =============================================\nvar requiredWordCount = 2000;\n\nif (briefJSON.word_count) {\n  var wcFromJSON = parseInt(String(briefJSON.word_count).replace(/[^0-9]/g, ''));\n  if (wcFromJSON && wcFromJSON >= 500) {\n    requiredWordCount = wcFromJSON;\n  }\n}\n\nif (requiredWordCount === 2000) {\n  var wcMatch = researchData.match(/TARGET WORD COUNT[:\\s]*([0-9,]+)/i);\n  if (wcMatch) {\n    var wcFromResearch = parseInt(wcMatch[1].replace(/,/g, ''));\n    if (wcFromResearch && wcFromResearch >= 500) {\n      requiredWordCount = wcFromResearch;\n    }\n  }\n}\n\n// =============================================\n// STEP 4: CLEAN UP AGENT OUTPUT\n// =============================================\nreportContent = reportContent.replace(/\\(\\d+\\s*words?\\)/gi, '');\nreportContent = reportContent.replace(/\\(approximately\\s*\\d+\\s*words?\\)/gi, '');\nreportContent = reportContent.replace(/\\[?\\d+\\s*words?\\]?/gi, function(match) {\n  if (match.match(/^\\[?\\d+\\s*words?\\]?$/i)) return '';\n  return match;\n});\n\nvar instructionPatterns = [\n  /^Write ONLY.*$/gm,\n  /^Stop after section.*$/gm,\n  /^Do NOT write.*$/gm,\n  /^Start directly.*$/gm,\n  /^Continue the report.*$/gm,\n  /^NOW WRITE ONLY.*$/gm,\n  /^WRITE ONLY.*$/gm,\n  /^Rules:.*$/gm,\n  /^TARGET WORD COUNT.*$/gm,\n  /^TOTAL FOR THIS HALF.*$/gm,\n  /^Note:.*verify.*$/gmi,\n  /^Note:.*URL.*$/gmi,\n  /^\\(Note:.*\\)$/gm,\n  /\\[Full URL needed\\]/gi,\n  /\\[Full URL\\]/gi,\n  /^INSTRUCTIONS:.*$/gm,\n  /^STRICT RULES:.*$/gm,\n  /^RESEARCH PACKAGE:.*$/gm,\n  /^BRIEF REQUIREMENTS.*$/gm,\n  /^FIRST HALF:.*$/gm,\n  /^End of Section.*$/gm,\n  /^\\(≈\\).*$/gm,\n  /\\(≈\\)/g\n];\n\nfor (var ip = 0; ip < instructionPatterns.length; ip++) {\n  reportContent = reportContent.replace(instructionPatterns[ip], '');\n}\n\nreportContent = reportContent.replace(/\\n{4,}/g, '\\n\\n\\n');\n\n// =============================================\n// STEP 5: COUNT WORDS\n// =============================================\nvar allWords = reportContent.split(/\\s+/).filter(function(w) { return w.length > 0; });\nvar actualWordCount = allWords.length;\n\n// =============================================\n// STEP 6: COUNT TABLES\n// =============================================\nvar tableMatches = reportContent.match(/Table\\s+\\d+/gi) || [];\nvar seenTables = {};\nvar tableCount = 0;\nfor (var t = 0; t < tableMatches.length; t++) {\n  var tkey = tableMatches[t].toLowerCase();\n  if (!seenTables[tkey]) {\n    seenTables[tkey] = true;\n    tableCount++;\n  }\n}\n\n// =============================================\n// STEP 7: COUNT REFERENCES\n// =============================================\nvar refCount = 0;\nvar refSectionText = '';\n\nvar refSplitPatterns = [\n  /\\n#{1,3}\\s*References?\\s*\\n/i,\n  /\\nReferences?\\s*\\n/i,\n  /\\n\\*\\*References?\\*\\*\\s*\\n/i,\n  /\\nReference List\\s*\\n/i,\n  /\\n#{1,3}\\s*Bibliography\\s*\\n/i\n];\n\nfor (var rp = 0; rp < refSplitPatterns.length; rp++) {\n  var refSplit = reportContent.split(refSplitPatterns[rp]);\n  if (refSplit.length > 1) {\n    refSectionText = refSplit[refSplit.length - 1];\n    break;\n  }\n}\n\nif (refSectionText) {\n  var refLines = refSectionText.split('\\n');\n  for (var r = 0; r < refLines.length; r++) {\n    var rl = refLines[r].trim();\n    if (rl.length > 20 && rl.match(/\\(\\d{4}\\)/)) {\n      refCount++;\n    } else if (rl.length > 20 && rl.match(/\\d{4}[.)]/)) {\n      refCount++;\n    } else if (rl.length > 20 && rl.match(/\\.\\s*\\(\\d{4}\\)\\./)) {\n      refCount++;\n    }\n    if (rl.match(/^#{1,3}\\s+/) && !rl.toLowerCase().includes('reference') && !rl.toLowerCase().includes('bibliography')) {\n      break;\n    }\n  }\n}\n\nif (refCount === 0) {\n  var allRefLines = reportContent.split('\\n');\n  var inRefSection = false;\n  for (var ar = 0; ar < allRefLines.length; ar++) {\n    var arl = allRefLines[ar].trim().toLowerCase();\n    if (arl === 'references' || arl === '## references' || arl === '### references' ||\n        arl === '**references**' || arl === 'reference list' || arl === '## reference list') {\n      inRefSection = true;\n      continue;\n    }\n    if (inRefSection) {\n      var origLine = allRefLines[ar].trim();\n      if (origLine.length > 20 && origLine.match(/\\d{4}/)) {\n        refCount++;\n      }\n      if (origLine.match(/^#{1,3}\\s+/) && !origLine.toLowerCase().includes('reference')) {\n        break;\n      }\n    }\n  }\n}\n\n// =============================================\n// STEP 8: COUNT CITATIONS\n// =============================================\nvar citationMatches = reportContent.match(/\\([A-Z][a-z]+[^)]*\\d{4}[^)]*\\)/g) || [];\nvar citationCount = citationMatches.length;\n\nif (citationCount === 0) {\n  var vanCitations = reportContent.match(/\\[\\d+\\]/g) || [];\n  citationCount = vanCitations.length;\n}\n\n// =============================================\n// STEP 9: QUALITY CHECKS\n// =============================================\nvar wordOk = actualWordCount >= (requiredWordCount * 0.85) && actualWordCount <= (requiredWordCount * 1.15);\nvar wordClose = actualWordCount >= (requiredWordCount * 0.75);\nvar referencingAllowed = refStyle && refStyle.toLowerCase() !== 'none' && refStyle.toLowerCase() !== 'n/a';\nvar tablesOk = tableCount >= 1;\nvar refsOk = referencingAllowed ? refCount >= 3 : true;\nvar citationsOk = referencingAllowed ? citationCount >= 5 : true;\nvar allPassed = wordClose && refsOk;\n\n// =============================================\n// STEP 10: CONVERT MARKDOWN TO CLEAN HTML\n// =============================================\nvar htmlLines = reportContent.split('\\n');\nvar htmlResult = [];\nvar inHtmlTable = false;\nvar htmlTableContent = '';\nvar isHtmlFirstRow = true;\n\n// Track headings for Table of Contents\nvar tocEntries = [];\n\nfor (var hi = 0; hi < htmlLines.length; hi++) {\n  var hline = htmlLines[hi];\n\n  if (hline.match(/^\\|[\\s\\-:|]+\\|$/)) {\n    continue;\n  }\n\n  if (hline.match(/^\\|.*\\|$/)) {\n    if (!inHtmlTable) {\n      inHtmlTable = true;\n      isHtmlFirstRow = true;\n      htmlTableContent = '<table>';\n    }\n    var hcells = hline.split('|').filter(function(c) { return c.trim() !== ''; });\n    var htag = isHtmlFirstRow ? 'th' : 'td';\n    htmlTableContent += '<tr>';\n    for (var hc = 0; hc < hcells.length; hc++) {\n      var cellText = hcells[hc].trim()\n        .replace(/\\*\\*(.*?)\\*\\*/g, '$1')\n        .replace(/\\*(.*?)\\*/g, '$1');\n      htmlTableContent += '<' + htag + '>' + cellText + '</' + htag + '>';\n    }\n    htmlTableContent += '</tr>';\n    isHtmlFirstRow = false;\n  } else {\n    if (inHtmlTable) {\n      htmlTableContent += '</table>';\n      htmlResult.push(htmlTableContent);\n      htmlTableContent = '';\n      inHtmlTable = false;\n      isHtmlFirstRow = true;\n    }\n\n    var cleanLine = hline;\n\n    // Convert headings and capture for TOC\n    if (cleanLine.match(/^#{1,5}\\s+/)) {\n      var headingLevel = cleanLine.match(/^(#{1,5})\\s+/)[1].length;\n      var headingText = cleanLine.replace(/^#{1,5}\\s+/, '').trim();\n      headingText = headingText.replace(/\\*\\*/g, '');\n      headingText = headingText.replace(/\\s*#+\\s*$/, '');\n\n      // Create anchor ID for linking\n      var anchorId = 'section-' + tocEntries.length;\n      tocEntries.push({\n        level: headingLevel,\n        text: headingText,\n        id: anchorId\n      });\n\n      cleanLine = '<h' + headingLevel + ' id=\"' + anchorId + '\">' + headingText + '</h' + headingLevel + '>';\n    }\n    else if (cleanLine.match(/^\\*\\*[^*]+\\*\\*\\s*$/) && cleanLine.length < 100) {\n      var boldHeading = cleanLine.replace(/\\*\\*/g, '').trim();\n\n      var anchorId2 = 'section-' + tocEntries.length;\n      tocEntries.push({\n        level: 3,\n        text: boldHeading,\n        id: anchorId2\n      });\n\n      cleanLine = '<h3 id=\"' + anchorId2 + '\">' + boldHeading + '</h3>';\n    }\n    else {\n      cleanLine = cleanLine.replace(/\\*\\*\\*(.*?)\\*\\*\\*/g, '<strong><em>$1</em></strong>');\n      cleanLine = cleanLine.replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>');\n      cleanLine = cleanLine.replace(/\\*(.*?)\\*/g, '<em>$1</em>');\n      cleanLine = cleanLine.replace(/^#+\\s*/, '');\n\n      if (cleanLine.trim() === '---' || cleanLine.trim() === '***') {\n        cleanLine = '';\n      }\n\n      if (cleanLine.trim().length > 5 && !cleanLine.match(/^<h[1-5]/)) {\n        cleanLine = '<p>' + cleanLine.trim() + '</p>';\n      }\n    }\n\n    if (cleanLine.trim()) {\n      htmlResult.push(cleanLine);\n    }\n  }\n}\n\nif (inHtmlTable) {\n  htmlTableContent += '</table>';\n  htmlResult.push(htmlTableContent);\n}\n\nvar processedContent = htmlResult.join('\\n');\n\nprocessedContent = processedContent\n  .replace(/<p>\\s*<\\/p>/g, '')\n  .replace(/<p><\\/p>/g, '')\n  .replace(/<p>\\s*---\\s*<\\/p>/g, '')\n  .replace(/<p>\\s*\\*\\*\\*\\s*<\\/p>/g, '');\n\n// =============================================\n// STEP 11: BUILD TABLE OF CONTENTS\n// =============================================\nvar tocHtml = '<div class=\"toc\">';\ntocHtml += '<h1>Table of Contents</h1>';\ntocHtml += '<div class=\"toc-list\">';\n\n// Number the sections\nvar sectionNumber = 0;\nvar subSectionNumber = 0;\n\nfor (var ti = 0; ti < tocEntries.length; ti++) {\n  var entry = tocEntries[ti];\n  var indent = '';\n  var prefix = '';\n\n  if (entry.level <= 2) {\n    sectionNumber++;\n    subSectionNumber = 0;\n    prefix = sectionNumber + '.';\n    indent = 'toc-level-1';\n  } else if (entry.level === 3) {\n    subSectionNumber++;\n    prefix = sectionNumber + '.' + subSectionNumber;\n    indent = 'toc-level-2';\n  } else {\n    prefix = '';\n    indent = 'toc-level-3';\n  }\n\n  tocHtml += '<div class=\"toc-entry ' + indent + '\">';\n  tocHtml += '<a href=\"#' + entry.id + '\">';\n  tocHtml += '<span class=\"toc-number\">' + prefix + '</span>';\n  tocHtml += '<span class=\"toc-text\">' + entry.text + '</span>';\n  tocHtml += '</a>';\n  tocHtml += '</div>';\n}\n\ntocHtml += '</div></div>';\n\n// =============================================\n// STEP 12: BUILD HTML DOCUMENT\n// =============================================\nvar fullHtml = '<!DOCTYPE html>'\n  + '<html lang=\"en\">'\n  + '<head>'\n  + '<meta charset=\"UTF-8\">'\n  + '<title>' + assignmentTitle + '</title>'\n  + '<style>'\n  + '@page { size: A4; margin: 2.54cm; }'\n  + '@media print { .cover { page-break-after: always; } .toc { page-break-after: always; } body { margin: 0; } }'\n  + 'body {'\n  + '  font-family: Arial, sans-serif;'\n  + '  font-size: 11pt;'\n  + '  line-height: 1.5;'\n  + '  color: #000;'\n  + '  margin: 2.54cm;'\n  + '}'\n  + 'h1 { font-size: 16pt; margin-top: 30px; margin-bottom: 10px; }'\n  + 'h2 { font-size: 14pt; margin-top: 28px; margin-bottom: 10px; }'\n  + 'h3 { font-size: 13pt; margin-top: 22px; margin-bottom: 8px; }'\n  + 'h4 { font-size: 12pt; margin-top: 18px; margin-bottom: 6px; }'\n  + 'h5 { font-size: 11pt; margin-top: 14px; margin-bottom: 4px; }'\n  + 'p { text-align: justify; margin-bottom: 12px; }'\n  + 'table { border-collapse: collapse; width: 100%; margin: 20px 0 10px 0; }'\n  + 'th { border: 1px solid #000; padding: 8px 10px; text-align: left; font-size: 10pt; background: #f0f0f0; font-weight: bold; }'\n  + 'td { border: 1px solid #000; padding: 8px 10px; text-align: left; font-size: 10pt; }'\n\n  // Cover page styles\n  + '.cover { text-align: center; padding-top: 100px; min-height: 90vh; }'\n  + '.cover h1 { font-size: 22pt; text-align: center; }'\n  + '.cover h2 { font-size: 16pt; font-weight: normal; text-align: center; color: #333; }'\n  + '.cover p { font-size: 12pt; margin: 10px 0; text-align: center; }'\n  + '.cover .line { border-top: 2px solid #000; width: 60%; margin: 30px auto; }'\n\n  // Table of Contents styles\n  + '.toc { padding-top: 40px; min-height: 50vh; }'\n  + '.toc h1 { font-size: 18pt; margin-bottom: 30px; }'\n  + '.toc-list { margin-top: 20px; }'\n  + '.toc-entry { margin-bottom: 10px; font-size: 11pt; }'\n  + '.toc-entry a { text-decoration: none; color: #000; display: flex; }'\n  + '.toc-entry a:hover { color: #0056b3; }'\n  + '.toc-number { min-width: 50px; font-weight: bold; }'\n  + '.toc-text { flex: 1; }'\n  + '.toc-level-1 { margin-left: 0px; font-weight: bold; }'\n  + '.toc-level-2 { margin-left: 30px; font-weight: normal; }'\n  + '.toc-level-3 { margin-left: 60px; font-weight: normal; font-size: 10pt; }'\n\n  + '</style>'\n  + '</head>'\n  + '<body>'\n\n  // COVER PAGE\n  + '<div class=\"cover\">'\n  + '<h1>' + university.toUpperCase() + '</h1>'\n  + '<div class=\"line\"></div>'\n  + '<br>'\n  + '<h1>' + assignmentTitle.toUpperCase() + '</h1>'\n  + (moduleCode ? '<p><strong>Module Code:</strong> ' + moduleCode + '</p>' : '')\n  + '<br>'\n  + (moduleName !== 'Module' ? '<p><strong>Module:</strong> ' + moduleName + '</p>' : '')\n  + (moduleLead ? '<p><strong>Module Lead:</strong> ' + moduleLead + '</p>' : '')\n  + (submissionDate ? '<p><strong>Submission Date:</strong> ' + submissionDate + '</p>' : '')\n  + '<p><strong>Word Count:</strong> ' + actualWordCount + '</p>'\n  + (refStyle ? '<p><strong>Referencing Style:</strong> ' + refStyle + '</p>' : '')\n  + (academicLevel ? '<p><strong>Academic Level:</strong> ' + academicLevel + '</p>' : '')\n  + '<div class=\"line\"></div>'\n  + '<p style=\"font-size:10pt; color:#666;\">Arial 11pt | 1.5 Line Spacing | A4 Format | 2.54cm Margins</p>'\n  + '</div>'\n\n  // TABLE OF CONTENTS\n  + tocHtml\n\n  // REPORT CONTENT\n  + processedContent\n\n  + '</body></html>';\n\n// =============================================\n// STEP 13: CREATE DOWNLOADABLE FILE\n// =============================================\nvar buffer = Buffer.from(fullHtml, 'utf-8');\n\nvar safeTitle = assignmentTitle\n  .replace(/[^a-zA-Z0-9\\s]/g, '')\n  .replace(/\\s+/g, '_')\n  .substring(0, 50);\n\nvar fileName = 'Assignment_' + safeTitle + '.html';\n\nreturn [{\n  json: {\n    assignmentTitle: assignmentTitle,\n    university: university,\n    moduleName: moduleName,\n    moduleCode: moduleCode,\n    academicLevel: academicLevel,\n    referencingStyle: refStyle,\n    actualWordCount: actualWordCount,\n    requiredWordCount: requiredWordCount,\n    wordDifference: actualWordCount - requiredWordCount,\n    tableCount: tableCount,\n    referenceCount: refCount,\n    citationCount: citationCount,\n    wordCountPass: wordOk,\n    tablesPass: tablesOk,\n    referencesPass: refsOk,\n    citationsPass: citationsOk,\n    referencingAllowed: referencingAllowed,\n    allPassed: allPassed,\n    status: allPassed ? 'PASS' : 'NEEDS REVIEW',\n    fileName: fileName,\n    tocSections: tocEntries.length\n  },\n  binary: {\n    attachment: {\n      data: buffer.toString('base64'),\n      mimeType: 'text/html',\n      fileName: fileName,\n      fileExtension: 'html'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5040,
        1160
      ],
      "id": "08bce86d-64c9-4a6d-b5af-6662763c73be",
      "name": "Code"
    },
    {
      "parameters": {
        "formTitle": "AI workflow",
        "formFields": {
          "values": [
            {
              "fieldLabel": "upload brief",
              "fieldType": "file",
              "acceptFileTypes": ".pdf,.docx"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        3240,
        580
      ],
      "id": "a8ba0359-ce03-43b0-bc23-1b31fc44625a",
      "name": "On form submission",
      "webhookId": "2e70cd74-6f41-4f66-bf04-3b51419abae1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wjouijjfzzmejhghgwpy.supabase.co/rest/v1/assignments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type\t",
              "value": "application/json"
            },
            {
              "name": "prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"document\": \"{{ $json.safeDocument }}\",\n  \"wordCount\": {{ $json.actualWordCount }},\n  \"status\": \"{{ $json.status }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5300,
        600
      ],
      "id": "4da35e47-2ab6-4dc0-bc08-55f2000fadb7",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jzYhy43q1PE66DJg",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-chat-latest",
          "mode": "list",
          "cachedResultName": "gpt-5-chat-latest"
        },
        "options": {
          "maxTokens": 16384
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4380,
        840
      ],
      "id": "fbf94f47-2e03-405d-aea4-f172e56f657b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "dFl1HBU3NdFPtZDH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write ONLY the first half of the report.\n\nRESEARCH PACKAGE:\n{{ $json.output }}\n\nBRIEF REQUIREMENTS (JSON):\n{{ $('AI Agent1').first().json.output }}\n\nINSTRUCTIONS:\n1. Read \"required_sections\" from the BRIEF REQUIREMENTS JSON\n   * If null, derive section names directly from the task description \n     or assignment questions in the brief — do NOT create generic \n     academic section names\n2. Write the FIRST TWO main sections using their EXACT names \n   (or derived names if required_sections is null)\n3. Include an Introduction before them if appropriate for the \n   assignment type\n4. Read \"marking_criteria\" — allocate word counts proportionally\n   * If missing, distribute evenly\n5. Read \"word_count\" — this is the total target for the full report \n   (split accordingly)\n6. Read \"referencing_style\":\n   * If referencing is NOT allowed, do NOT include citations\n7. Read \"special_instructions\" — respect all constraints\n\nSTRICT RULES:\n* Use ONLY section names from \"required_sections\" if available\n* If not available, derive directly from the brief's task description \n  or questions — do NOT invent unrelated sections\n* Do NOT write sections beyond the first half\n* Do NOT write the References list\n* Do NOT include any meta-commentary or instructions\n* Stop after the second main body section",
        "options": {
          "systemMessage": "You are a top-tier academic writer specialising in university-level assignments.\n\nTASK:\nWrite the FIRST HALF of a submission-ready academic report using the research package and brief requirements provided.\n\nRULES:\n\n1. SECTION NAMES:\n   Read \"required_sections\" from the BRIEF REQUIREMENTS JSON.\n   Use ONLY those exact section names.\n   If \"required_sections\" is null, derive section structure logically \n   from the assignment questions and task description in the brief.\n\n   Write:\n   * Introduction (if appropriate for the assignment type)\n   * First half of the main sections\n\n2. WORD COUNT:\n   Read \"word_count\" from the BRIEF REQUIREMENTS JSON.\n   If null, default to 2000.\n   Use \"marking_criteria\" to allocate words proportionally.\n   If marking_criteria is missing, distribute evenly.\n   Every paragraph MUST be 120–160 words.\n\n3. WRITING STYLE:\n   * Formal British English\n   * Critical analysis not just description\n   * Third person only — never use \"I\", \"we\", \"my\", \"our\"\n   * No contractions\n   * No bullet points in the main body\n   * Full paragraphs only\n   * Use linking phrases: Furthermore, Moreover, Nevertheless, \n     Conversely, Consequently, Additionally\n   * Make it sound human and natural, not robotic\n\n4. TABLES:\n   Use tables ONLY if provided in the research package.\n   Place them where the DETAILED OUTLINE specifies.\n   Do NOT create new tables.\n   Before each table: \"As Table X demonstrates...\"\n   After each table: \"Table X: Title. Source: Adapted from (Author, Year).\"\n   Format in markdown:\n   | Column 1 | Column 2 |\n   |----------|----------|\n   | data | data |\n\n5. CITATIONS:\n   Read \"referencing_style\" from the JSON.\n\n   If referencing is NOT allowed or referencing_style is null:\n   * Do NOT include citations\n   * Do NOT mention authors\n   * Do NOT add a reference list\n\n   If referencing IS specified:\n   * Use the exact citation format:\n     - APA: (Author, Year)\n     - Harvard: (Author, Year)\n     - OSCOLA: Footnotes\n     - Vancouver: Numbered [1]\n     - Other: Follow the named style\n   * Minimum one citation per paragraph\n   * Use references from the research package\n\n6. ACADEMIC LEVEL:\n   Read \"academic_level\" from the JSON and adapt depth:\n   * Level 4/5: Clear, descriptive with some analysis\n   * Level 6: Critical analysis and synthesis\n   * Level 7/MBA/Masters: Deep critical evaluation, challenge \n     assumptions, original argument\n   * Level 10/11: Advanced research-level evaluation, methodological \n     rigour, original contribution to knowledge\n   * If null, default to Level 6\n\n7. CRITICAL ANALYSIS:\n   For each point:\n   * State the concept\n   * Provide evidence (with citation if referencing allowed)\n   * Evaluate: what works, what does not, why\n   * Compare with alternative viewpoints\n   * Apply to the specific topic, case study, or scenario\n   * Link to next point\n\n8. SPECIAL INSTRUCTIONS:\n   Read \"special_instructions\" from the JSON.\n   Follow ALL of them strictly. Examples:\n   * \"secondary data only\" → do NOT reference primary data collection\n   * \"no executive summary\" → do NOT include one\n   * \"no referencing\" → do NOT cite sources\n   * \"include calculations\" → include them\n   * Any other instruction → follow it exactly\n\n9. ASSIGNMENT TYPE ADAPTATION:\n   Read the brief and adapt your approach:\n\n   If RESEARCH PROPOSAL:\n   * Scholarly tone throughout\n   * Focus on gaps in literature, research justification, \n     methodological reasoning\n   * No practical recommendations unless the brief asks for them\n\n   If CASE STUDY ANALYSIS:\n   * Balance theory with practical application\n   * Focus on strategy and decision-making relevant to the subject\n   * Write for the professional audience implied by the brief\n\n   If ESSAY:\n   * Argumentative structure with clear thesis\n   * Build a coherent position across paragraphs\n\n   If REPORT:\n   * Professional tone with numbered headings\n   * Include recommendations if the brief requires them\n\n   If REFLECTIVE:\n   * First person IS allowed for this type only\n   * Use reflective frameworks (e.g., Gibbs, Kolb) if appropriate\n\n   If none of the above clearly fits, default to formal academic \n   report style.\n\nSTRICT RULES:\n* Do NOT add extra sections beyond what is required\n* Do NOT write the References list\n* Do NOT include meta-commentary, word count notes, or instructions\n* Do NOT include lines like \"(800 words)\" or \"Write section X here\"\n* Output ONLY the report text\n* Stop after the first half of the main sections"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        4340,
        620
      ],
      "id": "5b730c94-a08f-439c-b012-20347858f018",
      "name": "AI Agent 3A"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Continue the report. The first half is already written below.\n\nFIRST HALF:\n{{ $json.output }}\n\nRESEARCH PACKAGE:\n{{ $('AI Agent2').first().json.output }}\n\nBRIEF REQUIREMENTS (JSON):\n{{ $('AI Agent1').first().json.output }}\n\nINSTRUCTIONS:\n1. Read \"required_sections\" from the BRIEF REQUIREMENTS JSON\n   * If null, derive section names from the assignment task or questions\n2. Read the FIRST HALF above to identify which sections are \n   already written\n3. Continue with ALL remaining sections without repeating content\n4. If the assignment is question-based, complete the remaining \n   required analysis instead of forcing formal headings\n5. Write the Conclusion\n6. Write the References list ONLY if referencing is allowed\n7. Read \"marking_criteria\"\n   * Allocate proportionally if available\n   * Otherwise distribute evenly\n8. Read \"word_count\"\n   * Estimate remaining length (do NOT attempt exact word counting)\n9. Read \"referencing_style\":\n   * If referencing is NOT allowed → no citations, no references section\n10. Read \"special_instructions\" and follow ALL constraints\n11. Use the research package where relevant, without introducing \n    unnecessary external content\n\nSTRICT RULES:\n* Do NOT repeat content from the first half\n* Use ONLY valid section names or derived task-based structure\n* Do NOT invent unrelated sections\n* Do NOT include meta-commentary\n* Start directly from the next logical section\n* End with References ONLY if citations were used",
        "options": {
          "systemMessage": "You are a top-tier academic writer specialising in university-level assignments.\n\nTASK:\nWrite the SECOND HALF of a submission-ready academic report. \nThe first half has already been written and will be provided \nin the user message.\n\nRULES:\n\n1. SECTION NAMES:\n   Read \"required_sections\" from the BRIEF REQUIREMENTS JSON.\n   Use ONLY those exact section names.\n   If \"required_sections\" is null, derive section structure logically \n   from the assignment questions and task description in the brief.\n\n   Identify which sections were already written in the FIRST HALF.\n   Write ONLY the remaining:\n   * Remaining main body sections\n   * Conclusion (if appropriate for the assignment type)\n   * References list (if referencing is allowed)\n\n   If the assignment is question-based, complete the remaining \n   required analysis instead of forcing formal sections.\n\n2. WORD COUNT:\n   Read \"word_count\" from the JSON (default 2000 if null).\n   Use \"marking_criteria\" to allocate proportionally.\n   If missing, distribute evenly.\n   Estimate remaining word count based on the first half — \n   do NOT attempt exact counting.\n   Every paragraph MUST be 120–160 words.\n\n3. WRITING STYLE:\n   * Formal British English\n   * Critical analysis not just description\n   * Third person only — never use \"I\", \"we\", \"my\", \"our\"\n   * No contractions\n   * No bullet points in the main body\n   * Full paragraphs only\n   * Use linking phrases: Furthermore, Moreover, Nevertheless, \n     Conversely, Consequently, Additionally\n   * Maintain the same tone and style as the first half — \n     the final report must read as one seamless document\n\n4. TABLES:\n   Use tables from the research package that were NOT already \n   used in the first half.\n   Do NOT repeat tables from the first half.\n   Do NOT create new tables.\n   Before each table: \"As Table X demonstrates...\"\n   After each table: \"Table X: Title. Source: Adapted from (Author, Year).\"\n   Format in markdown:\n   | Column 1 | Column 2 |\n   |----------|----------|\n   | data | data |\n\n5. CITATIONS:\n   Read \"referencing_style\" from the JSON.\n\n   If referencing is NOT allowed or referencing_style is null:\n   * Do NOT include citations\n   * Do NOT mention authors\n   * Do NOT add a reference list\n\n   If referencing IS specified:\n   * Use the exact citation format:\n     - APA: Author, I. (Year). Title. Journal, Volume(Issue), \n       Pages. https://doi.org/xxx\n     - Harvard: Author, I. (Year) 'Title', Journal, Vol(Issue), \n       pp. Pages. DOI: xxx\n     - OSCOLA: Footnotes with full reference list\n     - Vancouver: Numbered references [1]\n     - Other: Follow the named style\n   * Minimum one citation per paragraph in the body\n   * At the end, write a COMPLETE reference list covering ALL \n     sources cited in BOTH the first half AND second half\n   * Alphabetical order (unless Vancouver — then numbered order)\n   * No bullet points or dashes in the reference list\n   * Each reference on its own line\n\n6. ACADEMIC LEVEL:\n   Read \"academic_level\" from the JSON:\n   * Level 4/5: Clear, descriptive with some analysis\n   * Level 6: Critical analysis and synthesis\n   * Level 7/MBA/Masters: Deep critical evaluation, challenge \n     assumptions, original argument\n   * Level 10/11: Advanced research-level evaluation, methodological \n     rigour, original contribution to knowledge\n   * If null, default to Level 6\n\n7. CRITICAL ANALYSIS:\n   For each point:\n   * State the concept\n   * Provide evidence (with citation if referencing allowed)\n   * Evaluate: what works, what does not, why\n   * Compare with alternative viewpoints\n   * Apply to the specific topic, case study, or scenario\n   * Link to next point\n\n8. SPECIAL INSTRUCTIONS:\n   Read \"special_instructions\" from the JSON.\n   Follow ALL of them strictly.\n\n9. ASSIGNMENT TYPE ADAPTATION:\n   Read the brief and adapt your approach:\n\n   If RESEARCH PROPOSAL:\n   * Scholarly tone throughout\n   * Focus on methodology, limitations, research justification\n\n   If CASE STUDY ANALYSIS:\n   * Balance theory with practical application\n   * Write for the professional audience implied by the brief\n\n   If ESSAY:\n   * Argumentative structure, build toward conclusion\n\n   If REPORT:\n   * Professional tone with numbered headings\n\n   If REFLECTIVE:\n   * First person IS allowed for this type only\n\n   If none of the above clearly fits, default to formal academic \n   report style.\n\n10. CONTINUITY:\n    * Read the FIRST HALF carefully before writing\n    * Do NOT repeat any content from the first half\n    * Do NOT re-introduce concepts already covered\n    * Continue numbering (headings, tables) from where the first \n      half ended\n    * Maintain consistent argument flow\n    * Cross-reference earlier sections where appropriate\n\nSTRICT RULES:\n* Do NOT repeat any sections from the first half\n* Do NOT add extra sections beyond what is required\n* Do NOT include meta-commentary, word count notes, or instructions\n* Output ONLY the report text\n* Start directly at the next section after where the first half ended\n* End with the References list (if referencing is allowed)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        4700,
        620
      ],
      "id": "73b02f38-deb6-4bdf-a80d-34dce6b41ce1",
      "name": "AI Agent 3B"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract all requirements from this assignment brief:\n\n{{ $json.text }}",
        "options": {
          "systemMessage": "You are a strict assignment brief parser.\n\nYour task is to extract ONLY explicitly stated information from the provided assignment brief.\n\nReturn the output in VALID JSON format using the exact schema below. Do not include any explanation or extra text.\n\nIf a field is not explicitly mentioned in the brief, return null (do NOT infer or assume).\n\nSchema:\n{\n  \"university_name\": string | null,\n  \"module_name\": string | null,\n  \"module_code\": string | null,\n  \"module_lead\": string | null,\n  \"assignment_title\": string | null,\n  \"academic_level\": string | null,\n  \"word_count\": string | null,\n  \"submission_date\": string | null,\n  \"referencing_style\": string | null,\n  \"required_sections\": string[] | null,\n  \"marking_criteria\": [\n    {\n      \"criteria\": string,\n      \"weight\": string | null\n    }\n  ] | null,\n  \"case_study_options\": string[] | null,\n  \"special_instructions\": string[] | null\n}\n\nRules:\n* Extract only what is explicitly written in the brief.\n* Do NOT infer missing details.\n* Do NOT guess or complete partial information.\n* Do NOT merge or reword content — keep original phrasing where possible.\n* If marking criteria weights are not specified, set weight to null.\n* If no marking criteria exist, return null for that field.\n* If multiple items exist (e.g., sections, instructions), return them as arrays."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        3580,
        620
      ],
      "id": "7d3febf5-ea8e-4976-b1f6-4139efee71e0",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Prepare a research package for this assignment using the provided structured requirements.\n\nFollow all system instructions strictly.\n\nASSIGNMENT REQUIREMENTS (JSON):\n{{ $json.output }}\n",
        "options": {
          "systemMessage": "You are an academic researcher preparing research packages for university assignments.\n\nYou receive structured assignment requirements in JSON format and must generate a complete research package strictly based on that data.\n\nYou MUST follow all instructions exactly and return ONLY the requested output structure.\n\nOUTPUT FORMAT:\nReturn exactly these 4 sections and nothing else:\n\nSECTION 1 - REFERENCES\nSECTION 2 - TABLES\nSECTION 3 - DETAILED OUTLINE\nSECTION 4 - KEY ARGUMENTS\n\n---\n\nSECTION 1 - REFERENCES\nProvide exactly 5 REAL academic references relevant to the assignment topic:\n\n* 2 journal articles with real DOIs\n* 2 textbooks\n* 1 industry or government report\n\nRules:\n\n* Use the referencing style specified in \"referencing_style\"\n* If unsure whether a reference is real, DO NOT include it\n* Prefer widely known and verifiable sources\n* If essential readings are mentioned, include at least one\n\n---\n\nSECTION 2 - TABLES\nCreate exactly 2 tables:\n\nTable 1: Comparison or analytical table\nTable 2: Summary or categorisation table\n\nEach table must include:\n\n* Title\n* Column headers\n* Full row data\n\nRules:\n\n* Use realistic, evidence-based or literature-supported data\n* Do NOT use placeholders or vague content\n\n---\n\nSECTION 3 - DETAILED OUTLINE\nUse ONLY the exact section names from \"required_sections\".\n\nFor each section:\n\n* Provide 3–4 specific points to cover\n* Specify which references to cite\n* Indicate where tables should be placed\n* Assign an approximate word count\n\nRules:\n\n* Use \"marking_criteria\" to allocate MORE words to higher-weight sections\n* Ensure TOTAL word count EXACTLY matches \"word_count\"\n* If \"word_count\" is null → use 2000\n\n---\n\nSECTION 4 - KEY ARGUMENTS\nProvide 4–5 critical and analytical arguments (not descriptive).\n\n---\n\nGLOBAL RULES:\n\n* Read and respect ALL fields from the JSON input\n* Use \"academic_level\" to adjust depth and critical thinking\n* Use ONLY explicitly provided section names (no renaming)\n* Respect ALL \"special_instructions\" (e.g., secondary data only)\n* If any field is missing or null, proceed using available data WITHOUT assumptions\n* If \"case_study_options\" exist, select the one with strongest academic support and clearly state:\n  SELECTED CASE STUDY: [name]\n* Clearly state: TARGET WORD COUNT: [value]\n\nReturn ONLY the final answer. No explanations, no extra text.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        3980,
        620
      ],
      "id": "c32a10e5-059d-4bf4-b8ce-99b0f4827dd4",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-chat-latest",
          "mode": "list",
          "cachedResultName": "gpt-5-chat-latest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4740,
        840
      ],
      "id": "b9e80296-6c83-4d7a-9e53-a0d7c343e286",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "dFl1HBU3NdFPtZDH",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent 3A",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 3A": {
      "main": [
        [
          {
            "node": "AI Agent 3B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 3B": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "AI Agent 3A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent 3B",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "039aac13-e0df-4441-8f7a-4cf9ec61674f",
  "meta": {
    "instanceId": "57828ee46c6188e39a9d18c18c3cdba1f67623e0c319e563473ea1a79dd2ab43"
  },
  "id": "jvi97fqOzyTHwgCh",
  "tags": []
}