My_workflow_4 (7).json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "upload_brief",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        3420,
        600
      ],
      "id": "287d151e-4d8c-4213-aef0-7d935d69ed48",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        3660,
        840
      ],
      "id": "c6996f0b-2e26-46d6-a307-4a9d5732c1f1",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "u9aceB5q3qTmEMD0",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-chat-latest",
          "mode": "list",
          "cachedResultName": "gpt-5-chat-latest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4020,
        840
      ],
      "id": "775ecadb-8dda-4bbc-b888-f280da86e9c2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dFl1HBU3NdFPtZDH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// STEP 1: GET ALL AGENT OUTPUTS\n// =============================================\nvar briefData = $('AI Agent1').first().json.output || '';\nvar researchData = $('AI Agent2').first().json.output || '';\n\n// Use quality-rewritten output from AI Agent 5\n// Agent 4 (Quality Auditor) checked for issues in:\n//   A. Research Proposal, B. Professional Badges, C. Reflective Account,\n//   D. Referencing, E. Formatting, F. Structure, G. Word Count,\n//   H. Depth & Application\n// Agent 5 (Quality Rewriter) fixed all identified issues\nvar reportContent = $('AI Agent 5').first().json.output || '';\n\n// Fallback: if Agent 5 output is empty, combine Agent 3A + 3B\nif (!reportContent || reportContent.trim().length < 100) {\n  var firstHalf = $('AI Agent 3A').first().json.output || '';\n  var secondHalf = $('AI Agent 3B').first().json.output || '';\n  reportContent = firstHalf + '\\\\n\\\\n' + secondHalf;\n}\n\n// =============================================\n// STEP 2: PARSE BRIEF JSON\n// =============================================\nvar briefJSON = {};\ntry {\n  briefJSON = JSON.parse(briefData);\n} catch (e) {\n  var jsonMatch = briefData.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      briefJSON = JSON.parse(jsonMatch[0]);\n    } catch (e2) {\n      briefJSON = {};\n    }\n  }\n}\n\nvar university = briefJSON.university_name || 'University';\nvar moduleName = briefJSON.module_name || 'Module';\nvar moduleCode = briefJSON.module_code || '';\nvar moduleLead = briefJSON.module_lead || '';\nvar refStyle = briefJSON.referencing_style || '';\nvar submissionDate = briefJSON.submission_date || '';\nvar assignmentTitle = briefJSON.assignment_title || 'Assignment';\nvar academicLevel = briefJSON.academic_level || '';\nvar studentNumber = briefJSON.student_number || '';\n\n// =============================================\n// STEP 3: EXTRACT WORD COUNT\n// =============================================\nvar requiredWordCount = 2000;\n\nif (briefJSON.word_count) {\n  var wcFromJSON = parseInt(String(briefJSON.word_count).replace(/[^0-9]/g, ''));\n  if (wcFromJSON && wcFromJSON >= 500) {\n    requiredWordCount = wcFromJSON;\n  }\n}\n\nif (requiredWordCount === 2000) {\n  var wcMatch = researchData.match(/TARGET WORD COUNT[:\\s]*([0-9,]+)/i);\n  if (wcMatch) {\n    var wcFromResearch = parseInt(wcMatch[1].replace(/,/g, ''));\n    if (wcFromResearch && wcFromResearch >= 500) {\n      requiredWordCount = wcFromResearch;\n    }\n  }\n}\n\n// =============================================\n// STEP 4: CLEAN UP AGENT OUTPUT\n// =============================================\nreportContent = reportContent.replace(/\\(\\d+\\s*words?\\)/gi, '');\nreportContent = reportContent.replace(/\\(approximately\\s*\\d+\\s*words?\\)/gi, '');\nreportContent = reportContent.replace(/\\[?\\d+\\s*words?\\]?/gi, function(match) {\n  if (match.match(/^\\[?\\d+\\s*words?\\]?$/i)) return '';\n  return match;\n});\n\nvar instructionPatterns = [\n  /^Write ONLY.*$/gm,\n  /^Stop after section.*$/gm,\n  /^Do NOT write.*$/gm,\n  /^Start directly.*$/gm,\n  /^Continue the report.*$/gm,\n  /^NOW WRITE ONLY.*$/gm,\n  /^WRITE ONLY.*$/gm,\n  /^Rules:.*$/gm,\n  /^TARGET WORD COUNT.*$/gm,\n  /^TOTAL FOR THIS HALF.*$/gm,\n  /^Note:.*verify.*$/gmi,\n  /^Note:.*URL.*$/gmi,\n  /^\\(Note:.*\\)$/gm,\n  /\\[Full URL needed\\]/gi,\n  /\\[Full URL\\]/gi,\n  /^INSTRUCTIONS:.*$/gm,\n  /^STRICT RULES:.*$/gm,\n  /^RESEARCH PACKAGE:.*$/gm,\n  /^BRIEF REQUIREMENTS.*$/gm,\n  /^FIRST HALF:.*$/gm,\n  /^End of Section.*$/gm,\n  /^\\(≈\\).*$/gm,\n  /\\(≈\\)/g\n];\n\nfor (var ip = 0; ip < instructionPatterns.length; ip++) {\n  reportContent = reportContent.replace(instructionPatterns[ip], '');\n}\n\nreportContent = reportContent.replace(/\\n{4,}/g, '\\n\\n\\n');\n\n// =============================================\n// STEP 5: COUNT WORDS\n// =============================================\nvar allWords = reportContent.split(/\\s+/).filter(function(w) { return w.length > 0; });\nvar actualWordCount = allWords.length;\n\n// =============================================\n// STEP 6: COUNT TABLES\n// =============================================\nvar tableMatches = reportContent.match(/Table\\s+\\d+/gi) || [];\nvar seenTables = {};\nvar tableCount = 0;\nfor (var t = 0; t < tableMatches.length; t++) {\n  var tkey = tableMatches[t].toLowerCase();\n  if (!seenTables[tkey]) {\n    seenTables[tkey] = true;\n    tableCount++;\n  }\n}\n\n// =============================================\n// STEP 7: COUNT REFERENCES\n// =============================================\nvar refCount = 0;\nvar refSectionText = '';\n\nvar refSplitPatterns = [\n  /\\n#{1,3}\\s*References?\\s*\\n/i,\n  /\\nReferences?\\s*\\n/i,\n  /\\n\\*\\*References?\\*\\*\\s*\\n/i,\n  /\\nReference List\\s*\\n/i,\n  /\\n#{1,3}\\s*Bibliography\\s*\\n/i\n];\n\nfor (var rp = 0; rp < refSplitPatterns.length; rp++) {\n  var refSplit = reportContent.split(refSplitPatterns[rp]);\n  if (refSplit.length > 1) {\n    refSectionText = refSplit[refSplit.length - 1];\n    break;\n  }\n}\n\nif (refSectionText) {\n  var refLines = refSectionText.split('\\n');\n  for (var r = 0; r < refLines.length; r++) {\n    var rl = refLines[r].trim();\n    if (rl.length > 20 && rl.match(/\\(\\d{4}\\)/)) {\n      refCount++;\n    } else if (rl.length > 20 && rl.match(/\\d{4}[.)]/)) {\n      refCount++;\n    } else if (rl.length > 20 && rl.match(/\\.\\s*\\(\\d{4}\\)\\./)) {\n      refCount++;\n    }\n    if (rl.match(/^#{1,3}\\s+/) && !rl.toLowerCase().includes('reference') && !rl.toLowerCase().includes('bibliography')) {\n      break;\n    }\n  }\n}\n\nif (refCount === 0) {\n  var allRefLines = reportContent.split('\\n');\n  var inRefSection = false;\n  for (var ar = 0; ar < allRefLines.length; ar++) {\n    var arl = allRefLines[ar].trim().toLowerCase();\n    if (arl === 'references' || arl === '## references' || arl === '### references' ||\n        arl === '**references**' || arl === 'reference list' || arl === '## reference list') {\n      inRefSection = true;\n      continue;\n    }\n    if (inRefSection) {\n      var origLine = allRefLines[ar].trim();\n      if (origLine.length > 20 && origLine.match(/\\d{4}/)) {\n        refCount++;\n      }\n      if (origLine.match(/^#{1,3}\\s+/) && !origLine.toLowerCase().includes('reference')) {\n        break;\n      }\n    }\n  }\n}\n\n// =============================================\n// STEP 8: COUNT CITATIONS\n// =============================================\nvar citationMatches = reportContent.match(/\\([A-Z][a-z]+[^)]*\\d{4}[^)]*\\)/g) || [];\nvar citationCount = citationMatches.length;\n\nif (citationCount === 0) {\n  var vanCitations = reportContent.match(/\\[\\d+\\]/g) || [];\n  citationCount = vanCitations.length;\n}\n\n// =============================================\n// STEP 9: QUALITY CHECKS\n// =============================================\nvar wordOk = actualWordCount >= (requiredWordCount * 0.85) && actualWordCount <= (requiredWordCount * 1.15);\nvar wordClose = actualWordCount >= (requiredWordCount * 0.75);\nvar referencingAllowed = refStyle && refStyle.toLowerCase() !== 'none' && refStyle.toLowerCase() !== 'n/a';\nvar tablesOk = tableCount >= 1;\nvar refsOk = referencingAllowed ? refCount >= 4 : true;\nvar citationsOk = referencingAllowed ? citationCount >= 5 : true;\nvar allPassed = wordClose && refsOk;\n\n// =============================================\n// STEP 10: CONVERT MARKDOWN TO CLEAN HTML\n// =============================================\nvar htmlLines = reportContent.split('\\n');\nvar htmlResult = [];\nvar inHtmlTable = false;\nvar htmlTableContent = '';\nvar isHtmlFirstRow = true;\n\n// Track headings for Table of Contents\nvar tocEntries = [];\n\nfor (var hi = 0; hi < htmlLines.length; hi++) {\n  var hline = htmlLines[hi];\n\n  if (hline.match(/^\\|[\\s\\-:|]+\\|$/)) {\n    continue;\n  }\n\n  if (hline.match(/^\\|.*\\|$/)) {\n    if (!inHtmlTable) {\n      inHtmlTable = true;\n      isHtmlFirstRow = true;\n      htmlTableContent = '<table>';\n    }\n    var hcells = hline.split('|').filter(function(c) { return c.trim() !== ''; });\n    var htag = isHtmlFirstRow ? 'th' : 'td';\n    htmlTableContent += '<tr>';\n    for (var hc = 0; hc < hcells.length; hc++) {\n      var cellText = hcells[hc].trim()\n        .replace(/\\*\\*(.*?)\\*\\*/g, '$1')\n        .replace(/\\*(.*?)\\*/g, '$1');\n      htmlTableContent += '<' + htag + '>' + cellText + '</' + htag + '>';\n    }\n    htmlTableContent += '</tr>';\n    isHtmlFirstRow = false;\n  } else {\n    if (inHtmlTable) {\n      htmlTableContent += '</table>';\n      htmlResult.push(htmlTableContent);\n      htmlTableContent = '';\n      inHtmlTable = false;\n      isHtmlFirstRow = true;\n    }\n\n    var cleanLine = hline;\n\n    // Convert headings and capture for TOC\n    if (cleanLine.match(/^#{1,5}\\s+/)) {\n      var headingLevel = cleanLine.match(/^(#{1,5})\\s+/)[1].length;\n      var headingText = cleanLine.replace(/^#{1,5}\\s+/, '').trim();\n      headingText = headingText.replace(/\\*\\*/g, '');\n      headingText = headingText.replace(/\\s*#+\\s*$/, '');\n\n      // Create anchor ID for linking\n      var anchorId = 'section-' + tocEntries.length;\n      tocEntries.push({\n        level: headingLevel,\n        text: headingText,\n        id: anchorId\n      });\n\n      cleanLine = '<h' + headingLevel + ' id=\"' + anchorId + '\">' + headingText + '</h' + headingLevel + '>';\n    }\n    else if (cleanLine.match(/^\\*\\*[^*]+\\*\\*\\s*$/) && cleanLine.length < 100) {\n      var boldHeading = cleanLine.replace(/\\*\\*/g, '').trim();\n\n      var anchorId2 = 'section-' + tocEntries.length;\n      tocEntries.push({\n        level: 3,\n        text: boldHeading,\n        id: anchorId2\n      });\n\n      cleanLine = '<h3 id=\"' + anchorId2 + '\">' + boldHeading + '</h3>';\n    }\n    else {\n      cleanLine = cleanLine.replace(/\\*\\*\\*(.*?)\\*\\*\\*/g, '<strong><em>$1</em></strong>');\n      cleanLine = cleanLine.replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>');\n      cleanLine = cleanLine.replace(/\\*(.*?)\\*/g, '<em>$1</em>');\n      cleanLine = cleanLine.replace(/^#+\\s*/, '');\n\n      if (cleanLine.trim() === '---' || cleanLine.trim() === '***') {\n        cleanLine = '';\n      }\n\n      if (cleanLine.trim().length > 5 && !cleanLine.match(/^<h[1-5]/)) {\n        cleanLine = '<p>' + cleanLine.trim() + '</p>';\n      }\n    }\n\n    if (cleanLine.trim()) {\n      htmlResult.push(cleanLine);\n    }\n  }\n}\n\nif (inHtmlTable) {\n  htmlTableContent += '</table>';\n  htmlResult.push(htmlTableContent);\n}\n\nvar processedContent = htmlResult.join('\\n');\n\nprocessedContent = processedContent\n  .replace(/<p>\\s*<\\/p>/g, '')\n  .replace(/<p><\\/p>/g, '')\n  .replace(/<p>\\s*---\\s*<\\/p>/g, '')\n  .replace(/<p>\\s*\\*\\*\\*\\s*<\\/p>/g, '');\n\n// =============================================\n// STEP 11: BUILD TABLE OF CONTENTS\n// =============================================\nvar tocHtml = '<div class=\"toc\">';\ntocHtml += '<h1>Table of Contents</h1>';\ntocHtml += '<div class=\"toc-list\">';\n\n// Number the sections\nvar sectionNumber = 0;\nvar subSectionNumber = 0;\n\nfor (var ti = 0; ti < tocEntries.length; ti++) {\n  var entry = tocEntries[ti];\n  var indent = '';\n  var prefix = '';\n\n  if (entry.level <= 2) {\n    sectionNumber++;\n    subSectionNumber = 0;\n    prefix = sectionNumber + '.';\n    indent = 'toc-level-1';\n  } else if (entry.level === 3) {\n    subSectionNumber++;\n    prefix = sectionNumber + '.' + subSectionNumber;\n    indent = 'toc-level-2';\n  } else {\n    prefix = '';\n    indent = 'toc-level-3';\n  }\n\n  tocHtml += '<div class=\"toc-entry ' + indent + '\">';\n  tocHtml += '<a href=\"#' + entry.id + '\">';\n  tocHtml += '<span class=\"toc-number\">' + prefix + '</span>';\n  tocHtml += '<span class=\"toc-text\">' + entry.text + '</span>';\n  tocHtml += '</a>';\n  tocHtml += '</div>';\n}\n\ntocHtml += '</div></div>';\n\n// =============================================\n// STEP 12: BUILD HTML DOCUMENT\n// =============================================\nvar fullHtml = '<!DOCTYPE html>'\n  + '<html lang=\"en\">'\n  + '<head>'\n  + '<meta charset=\"UTF-8\">'\n  + '<title>' + assignmentTitle + '</title>'\n  + '<style>'\n  + '@page { size: A4; margin: 2.54cm; }'\n  + '@media print { .cover { page-break-after: always; } .toc { page-break-after: always; } body { margin: 0; } }'\n  + 'body {'\n  + '  font-family: Arial, sans-serif;'\n  + '  font-size: 12pt;'\n  + '  line-height: 1.5;'\n  + '  color: #000;'\n  + '  margin: 2.54cm;'\n  + ''\n  + '}'\n  + 'h1 { font-size: 18pt; margin-top: 30px; margin-bottom: 12px; }'\n  + 'h2 { font-size: 16pt; margin-top: 28px; margin-bottom: 12px; }'\n  + 'h3 { font-size: 14pt; margin-top: 22px; margin-bottom: 10px; }'\n  + 'h4 { font-size: 13pt; margin-top: 18px; margin-bottom: 8px; }'\n  + 'h5 { font-size: 12pt; margin-top: 14px; margin-bottom: 6px; }'\n  + 'p { text-align: justify; margin-bottom: 14px; line-height: 1.5; }'\n  + 'table { border-collapse: collapse; width: 100%; margin: 20px 0 10px 0; font-size: 11pt; }'\n  + 'th { border: 1.5px solid #000; padding: 10px 12px; text-align: left; font-size: 11pt; background: #e8e8e8; font-weight: bold; }'\n  + 'td { border: 1px solid #000; padding: 10px 12px; text-align: left; font-size: 11pt; vertical-align: top; }'\n  + 'tr:nth-child(even) td { background: #f9f9f9; }'\n  + 'table + p { margin-top: 6px; font-size: 10pt; font-style: italic; }'\n\n  // Cover page styles\n  + '.cover { text-align: center; padding-top: 80px; min-height: 90vh; }'\n  + '.cover h1 { font-size: 22pt; text-align: center; }'\n  + '.cover h2 { font-size: 16pt; font-weight: normal; text-align: center; color: #333; }'\n  + '.cover p { font-size: 12pt; margin: 10px 0; text-align: center; }'\n  + '.cover .line { border-top: 2px solid #000; width: 60%; margin: 30px auto; }'\n\n  // Table of Contents styles\n  + '.toc { padding-top: 40px; min-height: 50vh; }'\n  + '.toc h1 { font-size: 18pt; margin-bottom: 30px; }'\n  + '.toc-list { margin-top: 20px; }'\n  + '.toc-entry { margin-bottom: 10px; font-size: 12pt; }'\n  + '.toc-entry a { text-decoration: none; color: #000; display: flex; }'\n  + '.toc-entry a:hover { color: #0056b3; }'\n  + '.toc-number { min-width: 50px; font-weight: bold; }'\n  + '.toc-text { flex: 1; }'\n  + '.toc-level-1 { margin-left: 0px; font-weight: bold; }'\n  + '.toc-level-2 { margin-left: 30px; font-weight: normal; }'\n  + '.toc-level-3 { margin-left: 60px; font-weight: normal; font-size: 11pt; }'\n\n  // Page number footer\n  + '.page-footer { position: fixed; bottom: 1cm; right: 2.54cm; font-size: 10pt; color: #333; }'\n  + '@media print { .page-footer { display: none; } }'\n\n  // Reference list styles\n  + '.references p { padding-left: 40px; text-indent: -40px; margin-bottom: 10px; font-size: 12pt; }'\n\n  + '</style>'\n  + '</head>'\n  + '<body>'\n\n  // COVER PAGE\n  + '<div class=\"cover\">'\n  + '<h1>' + university.toUpperCase() + '</h1>'\n  + '<div class=\"line\"></div>'\n  + '<br>'\n  + '<h1>' + assignmentTitle.toUpperCase() + '</h1>'\n  + (moduleCode ? '<p><strong>Module Code:</strong> ' + moduleCode + '</p>' : '')\n  + '<br>'\n  + (moduleName !== 'Module' ? '<p><strong>Module:</strong> ' + moduleName + '</p>' : '')\n  + (moduleLead ? '<p><strong>Module Lead:</strong> ' + moduleLead + '</p>' : '')\n  + (studentNumber ? '<p><strong>Student Number:</strong> ' + studentNumber + '</p>' : '')\n  + (submissionDate ? '<p><strong>Submission Date:</strong> ' + submissionDate + '</p>' : '')\n  + '<p><strong>Word Count:</strong> ' + actualWordCount + '</p>'\n  + (refStyle ? '<p><strong>Referencing Style:</strong> ' + refStyle + '</p>' : '')\n  + (academicLevel ? '<p><strong>Academic Level:</strong> ' + academicLevel + '</p>' : '')\n  + '<div class=\"line\"></div>'\n  + '<p style=\"font-size:10pt; color:#666;\">Arial 12pt | 1.5 Line Spacing | A4 Format | 2.54cm Margins</p>'\n  + '</div>'\n\n  // TABLE OF CONTENTS\n  + tocHtml\n\n  // REPORT CONTENT\n  + processedContent\n\n  + '</body></html>';\n\n// =============================================\n// STEP 13: CREATE DOWNLOADABLE FILE\n// =============================================\nvar buffer = Buffer.from(fullHtml, 'utf-8');\n\nvar safeTitle = assignmentTitle\n  .replace(/[^a-zA-Z0-9\\s]/g, '')\n  .replace(/\\s+/g, '_')\n  .substring(0, 50);\n\nvar fileName = 'Assignment_' + safeTitle + '.html';\n\nreturn [{\n  json: {\n    assignmentTitle: assignmentTitle,\n    university: university,\n    moduleName: moduleName,\n    moduleCode: moduleCode,\n    academicLevel: academicLevel,\n    referencingStyle: refStyle,\n    studentNumber: studentNumber,\n    actualWordCount: actualWordCount,\n    requiredWordCount: requiredWordCount,\n    wordDifference: actualWordCount - requiredWordCount,\n    tableCount: tableCount,\n    referenceCount: refCount,\n    citationCount: citationCount,\n    wordCountPass: wordOk,\n    tablesPass: tablesOk,\n    referencesPass: refsOk,\n    citationsPass: citationsOk,\n    referencingAllowed: referencingAllowed,\n    allPassed: allPassed,\n    status: allPassed ? 'PASS' : 'NEEDS REVIEW',\n    fileName: fileName,\n    tocSections: tocEntries.length\n  },\n  binary: {\n    attachment: {\n      data: buffer.toString('base64'),\n      mimeType: 'text/html',\n      fileName: fileName,\n      fileExtension: 'html'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5900,
        620
      ],
      "id": "08bce86d-64c9-4a6d-b5af-6662763c73be",
      "name": "Code"
    },
    {
      "parameters": {
        "formTitle": "AI workflow",
        "formFields": {
          "values": [
            {
              "fieldLabel": "upload brief",
              "fieldType": "file",
              "acceptFileTypes": ".pdf,.docx"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        3240,
        580
      ],
      "id": "a8ba0359-ce03-43b0-bc23-1b31fc44625a",
      "name": "On form submission",
      "webhookId": "2e70cd74-6f41-4f66-bf04-3b51419abae1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wjouijjfzzmejhghgwpy.supabase.co/rest/v1/assignments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type\t",
              "value": "application/json"
            },
            {
              "name": "prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"document\": \"{{ $json.safeDocument }}\",\n  \"wordCount\": {{ $json.actualWordCount }},\n  \"status\": \"{{ $json.status }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6200,
        600
      ],
      "id": "4da35e47-2ab6-4dc0-bc08-55f2000fadb7",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jzYhy43q1PE66DJg",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-chat-latest",
          "mode": "list",
          "cachedResultName": "gpt-5-chat-latest"
        },
        "options": {
          "maxTokens": 16384
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4380,
        840
      ],
      "id": "fbf94f47-2e03-405d-aea4-f172e56f657b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "dFl1HBU3NdFPtZDH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write ONLY the first half of the report.\n\nRESEARCH PACKAGE:\n{{ $json.output }}\n\nBRIEF REQUIREMENTS (JSON):\n{{ $('AI Agent1').first().json.output }}\n\nINSTRUCTIONS:\n1. Read \"required_sections\" from the BRIEF REQUIREMENTS JSON\n   * If null, derive section names directly from the task description\n     or assignment questions in the brief — do NOT create generic\n     academic section names\n2. If \"assessment_components\" exist, structure the report to address\n   each component in order (e.g., badges section, then proposal, etc.)\n3. Write the FIRST HALF of the main sections using their EXACT names\n   (or derived names if required_sections is null)\n4. Include an Introduction before them if appropriate for the\n   assignment type\n5. Read \"marking_criteria\" — allocate word counts proportionally\n   * If missing, distribute evenly\n6. Read \"word_count\" — this is the total target for the full report\n   (split accordingly)\n7. If \"word_count_distribution\" exists, follow it EXACTLY\n8. Read \"referencing_style\":\n   * If referencing is NOT allowed, do NOT include citations\n   * If allowed, cite at LEAST 2 different sources per paragraph\n   * Include page numbers for specific ideas: (Author, Year, p. XX)\n9. Read \"special_instructions\" — respect all constraints\n10. Read \"assignment_type\" — adapt writing style accordingly\n    * If reflective: use first person, apply reflective model with\n      clear stage headings, include personal examples\n    * If research proposal: include research questions (RQ1, RQ2),\n      objectives, critical literature review\n    * If sustainability/case study: use specific company data, apply\n      theories like Triple Bottom Line, Stakeholder Theory\n11. Read \"competency_focus\" — ensure this competency is explicitly\n    and deeply addressed throughout\n12. Read \"reflective_model\" — if specified, apply it with clear\n    stage headings\n\nSTRICT RULES:\n* Use ONLY section names from \"required_sections\" if available\n* If not available, derive directly from the brief's task description\n  or questions — do NOT invent unrelated sections\n* Do NOT write sections beyond the first half\n* Do NOT write the References list\n* Do NOT include any meta-commentary or instructions\n* Stop after the second main body section\n* Every claim MUST have a citation (if referencing is allowed)\n* NEVER describe without evaluating — always be critical",
        "options": {
          "systemMessage": "You are a top-tier academic writer specialising in university-level assignments.\n\nTASK:\nWrite the FIRST HALF of a submission-ready, production-grade academic report using the research package and brief requirements provided.\n\nQUALITY STANDARD: Every section must demonstrate the analytical depth and structural precision of professional project evaluations — clear strategic frameworks, critical analysis of governance, cost, design, and stakeholder factors, and recommendations supported by practical reasoning. Avoid generic or loosely assembled content.\n\nRULES:\n\n1. SECTION NAMES:\n   Read \"required_sections\" from the BRIEF REQUIREMENTS JSON.\n   Use ONLY those exact section names.\n   If \"required_sections\" is null, derive section structure logically\n   from the assignment questions and task description in the brief.\n\n   If \"assessment_components\" exist, structure accordingly (e.g., start\n   with professional badges section, then research proposal, etc.).\n\n   Write:\n   * Introduction (if appropriate for the assignment type)\n   * First half of the main sections\n\n2. WORD COUNT:\n   Read \"word_count\" from the BRIEF REQUIREMENTS JSON.\n   If null, default to 2000.\n   If \"word_count_distribution\" exists, follow it exactly.\n   Use \"marking_criteria\" to allocate words proportionally.\n   If marking_criteria is missing, distribute evenly.\n   Every paragraph MUST be 120-160 words.\n\n3. WRITING STYLE:\n   * Formal British English\n   * Critical analysis not just description — NEVER merely describe;\n     always evaluate, compare, and critique\n   * Third person only — never use \"I\", \"we\", \"my\", \"our\"\n     (EXCEPTION: reflective writing sections — see rule 9)\n   * No contractions\n   * No bullet points in the main body\n   * Full paragraphs only\n   * Use critical language: Furthermore, Moreover, Nevertheless,\n     Conversely, Consequently, Additionally, However, Critically,\n     It is arguable that, A significant limitation is,\n     This contradicts, In contrast to, Despite this\n   * Make it sound human and natural, not robotic or AI-generated\n   * Vary sentence length and structure\n   * Include specific examples, data, and evidence\n   * NEVER make unsupported claims — every claim needs a citation\n\n4. TABLES:\n   Use tables ONLY if provided in the research package.\n   Place them where the DETAILED OUTLINE specifies.\n   Do NOT create new tables.\n   Before each table: \"As Table X demonstrates...\"\n   After each table: \"Table X: Title. Source: Adapted from (Author, Year, p. XX).\"\n   Format in markdown:\n   | Column 1 | Column 2 |\n   |----------|----------|\n   | data | data |\n\n5. CITATIONS:\n   Read \"referencing_style\" from the JSON.\n\n   If referencing is NOT allowed or referencing_style is null:\n   * Do NOT include citations\n   * Do NOT mention authors\n   * Do NOT add a reference list\n\n   If referencing IS specified:\n   * Use the exact citation format:\n     - APA: (Author, Year)\n     - Harvard: (Author, Year, p. XX)\n     - OSCOLA: Footnotes\n     - Vancouver: Numbered [1]\n     - Other: Follow the named style\n   * Minimum TWO citations per paragraph — use DIVERSE authors\n   * Include page numbers where referencing direct ideas: (Author, Year, p. XX)\n   * Use references from the research package\n   * Do NOT over-rely on any single author — spread citations across\n     all available sources\n   * Use a MIX of citation styles: direct quotes (sparingly),\n     paraphrasing, and synthesising multiple sources together\n   * Compare authors: \"While Author1 (Year) argues X, Author2 (Year)\n     contends Y, suggesting that...\"\n\n6. ACADEMIC LEVEL:\n   Read \"academic_level\" from the JSON and adapt depth:\n   * Level 4/5: Clear, descriptive with some analysis\n   * Level 6: Critical analysis and synthesis\n   * Level 7/MBA/Masters: Deep critical evaluation, challenge\n     assumptions, original argument, sophisticated vocabulary,\n     engagement with methodological debates, identification of\n     research gaps, theoretical framework development\n   * Level 10/11: Advanced research-level evaluation, methodological\n     rigour, original contribution to knowledge\n   * If null, default to Level 6\n\n7. CRITICAL ANALYSIS (ESSENTIAL — this is the most common weakness):\n   For EVERY point:\n   * State the concept with supporting evidence\n   * Cite at least 2 different authors\n   * EVALUATE: what works, what does not, and why\n   * COMPARE with alternative viewpoints — \"However, Author2 (Year)\n     challenges this by arguing...\"\n   * CRITIQUE limitations of the evidence or theory\n   * Apply to the specific topic, case study, or scenario\n   * Link to next point with a transitional sentence\n   * Use critical phrases: \"A notable limitation of this perspective is...\",\n     \"This is contradicted by...\", \"While compelling, this argument\n     overlooks...\", \"The evidence suggests a more nuanced picture...\"\n\n8. SPECIAL INSTRUCTIONS:\n   Read \"special_instructions\" from the JSON.\n   Follow ALL of them strictly. Examples:\n   * \"secondary data only\" → do NOT reference primary data collection\n   * \"no executive summary\" → do NOT include one\n   * \"no referencing\" → do NOT cite sources\n   * \"include calculations\" → include them\n   * \"use company sustainability reports\" → cite real company reports\n   * Any other instruction → follow it exactly\n\n9. ASSIGNMENT TYPE ADAPTATION:\n   Read the brief and adapt your approach:\n\n   If RESEARCH PROPOSAL:\n   * Scholarly tone throughout\n   * MUST include clearly stated research questions (numbered: RQ1, RQ2, RQ3)\n   * MUST include explicit research objectives (numbered: RO1, RO2, RO3)\n   * Literature review MUST be critical, not descriptive — compare and\n     contrast different authors, identify gaps, build a theoretical framework\n   * Methodology section MUST justify WHY the chosen approach is appropriate\n     (e.g., \"A mixed-methods approach was selected because..., as supported by\n     Creswell (Year, p. XX) who argues...\")\n   * MUST justify sampling strategy with rationale\n   * MUST discuss detailed data analysis techniques (e.g., thematic analysis,\n     SPSS statistical tests, content analysis)\n   * MUST include substantive limitations discussion\n   * Focus on gaps in literature, research justification, methodological reasoning\n\n   If CASE STUDY ANALYSIS / SUSTAINABILITY REPORT:\n   * Balance theory with practical application\n   * Use SPECIFIC company data, statistics, and real examples — not generic claims\n   * Apply academic theories: Triple Bottom Line (Elkington, 1997),\n     Stakeholder Theory (Freeman, 1984), Institutional Theory, Resource-Based View\n   * Include real performance metrics and benchmarking data\n   * Critically evaluate trade-offs (e.g., sustainability vs. profitability)\n   * Discuss implementation challenges in real scenarios\n   * Use company sustainability reports as evidence\n   * Compare companies where appropriate (comparative analysis)\n   * Justify company selection with clear rationale\n\n   If ESSAY:\n   * Argumentative structure with clear thesis\n   * Build a coherent position across paragraphs\n\n   If REPORT:\n   * Professional tone with numbered headings\n   * Include recommendations if the brief requires them\n\n   If REFLECTIVE WRITING / REFLECTIVE ACCOUNT:\n   * First person IS required (\"I\", \"my experience\", \"I learned\")\n   * Use PERSONAL, authentic tone — NOT academic essay style\n   * Apply the specified reflective model IN FULL with clear stages:\n     - Gibbs: Description → Feelings → Evaluation → Analysis →\n       Conclusion → Action Plan\n     - Kolb: Concrete Experience → Reflective Observation →\n       Abstract Conceptualisation → Active Experimentation\n     - Driscoll: What? → So What? → Now What?\n   * Use CLEAR HEADINGS for each stage of the reflective model\n   * Include SPECIFIC personal examples and real experiences\n   * Include week-by-week or experience-by-experience reflection\n     if required by the brief\n   * Discuss \"what went wrong\" and \"what improved\" explicitly\n   * Include a CLEAR future action plan\n   * Link reflection to specific competencies (e.g., mental wealth,\n     employability, fitness, wealth creation)\n   * Be self-critical: \"I initially struggled with...\",\n     \"On reflection, I could have...\", \"This experience challenged\n     my assumption that...\"\n\n   If PROFESSIONAL LEARNING BADGES:\n   * Evaluate EACH badge individually and critically\n   * Do NOT just describe what the course/badge covers — EVALUATE it\n   * Critically assess badge credibility and relevance\n   * Link each badge to specific employability competencies\n   * Include personal reflection on what was learned\n   * Map badges to specific mental wealth or module competencies\n   * Discuss how each badge contributes to professional development\n\n   If none of the above clearly fits, default to formal academic\n   report style.\n\nSTRICT RULES:\n* Do NOT add extra sections beyond what is required\n* Do NOT write the References list\n* Do NOT include meta-commentary, word count notes, or instructions\n* Do NOT include lines like \"(800 words)\" or \"Write section X here\"\n* Output ONLY the report text\n* Stop after the first half of the main sections"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        4340,
        620
      ],
      "id": "5b730c94-a08f-439c-b012-20347858f018",
      "name": "AI Agent 3A"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Continue the report. The first half is already written below.\n\nFIRST HALF:\n{{ $json.output }}\n\nRESEARCH PACKAGE:\n{{ $('AI Agent2').first().json.output }}\n\nBRIEF REQUIREMENTS (JSON):\n{{ $('AI Agent1').first().json.output }}\n\nINSTRUCTIONS:\n1. Read \"required_sections\" from the BRIEF REQUIREMENTS JSON\n   * If null, derive section names from the assignment task or questions\n2. Read the FIRST HALF above to identify which sections are\n   already written\n3. Continue with ALL remaining sections without repeating content\n4. If the assignment is question-based, complete the remaining\n   required analysis instead of forcing formal headings\n5. Write the Conclusion — make it CRITICALLY EVALUATIVE, not just\n   a descriptive summary. Align it to research questions/objectives.\n6. Write the References list ONLY if referencing is allowed\n   * Include ALL sources cited in BOTH halves\n   * EXACTLY 4 unique references (hard ceiling — no more, no fewer)\n   * Ensure diverse authors — no over-reliance on any single source\n   * Do NOT exceed 4 references under any circumstances\n7. Read \"marking_criteria\"\n   * Allocate proportionally if available\n   * Otherwise distribute evenly\n8. Read \"word_count\"\n   * Estimate remaining length to meet the FULL required word count\n9. Read \"word_count_distribution\" — if it exists, follow it exactly\n10. Read \"referencing_style\":\n    * If referencing is NOT allowed → no citations, no references section\n    * If allowed → minimum 2 citations per paragraph, include page numbers\n11. Read \"special_instructions\" and follow ALL constraints\n12. Use the research package where relevant, without introducing\n    unnecessary external content\n13. For RESEARCH PROPOSALS: include methodology justification,\n    sampling rationale, data analysis techniques, ethical considerations,\n    substantive limitations discussion, and specific expected contributions\n14. For REFLECTIVE ACCOUNTS: include remaining reflective model stages,\n    personal examples, self-criticism, future action plan, competency links\n15. For SUSTAINABILITY/CASE STUDIES: include specific company data,\n    SDG application with evidence, trade-off analysis, implementation\n    challenges, comparative analysis\n\nSTRICT RULES:\n* Do NOT repeat content from the first half\n* Use ONLY valid section names or derived task-based structure\n* Do NOT invent unrelated sections\n* Do NOT include meta-commentary\n* Start directly from the next logical section\n* End with References ONLY if citations were used\n* Every claim MUST have a citation (if referencing allowed)\n* NEVER describe without evaluating — always be critical\n* Conclusion must be evaluative, not descriptive",
        "options": {
          "systemMessage": "You are a top-tier academic writer specialising in university-level assignments.\n\nTASK:\nWrite the SECOND HALF of a submission-ready, production-grade academic report.\n\nQUALITY STANDARD: Match the analytical depth of professional project evaluations — clear strategic frameworks, critical governance and cost analysis, stakeholder assessment, and logically structured recommendations supported by practical reasoning. Every paragraph must be concise, structured, and analytically rigorous.\nThe first half has already been written and will be provided\nin the user message.\n\nRULES:\n\n1. SECTION NAMES:\n   Read \"required_sections\" from the BRIEF REQUIREMENTS JSON.\n   Use ONLY those exact section names.\n   If \"required_sections\" is null, derive section structure logically\n   from the assignment questions and task description in the brief.\n\n   Identify which sections were already written in the FIRST HALF.\n   Write ONLY the remaining:\n   * Remaining main body sections\n   * Conclusion (if appropriate for the assignment type)\n   * References list (if referencing is allowed)\n\n   If the assignment is question-based, complete the remaining\n   required analysis instead of forcing formal sections.\n\n2. WORD COUNT:\n   Read \"word_count\" from the JSON (default 2000 if null).\n   If \"word_count_distribution\" exists, follow it exactly.\n   Use \"marking_criteria\" to allocate proportionally.\n   If missing, distribute evenly.\n   Estimate remaining word count based on the first half —\n   do NOT attempt exact counting.\n   Every paragraph MUST be 120-160 words.\n   Ensure the TOTAL assignment meets the required word count.\n\n3. WRITING STYLE:\n   * Formal British English\n   * Critical analysis not just description — NEVER merely describe;\n     always evaluate, compare, and critique\n   * Third person only — never use \"I\", \"we\", \"my\", \"our\"\n     (EXCEPTION: reflective writing sections — see rule 9)\n   * No contractions\n   * No bullet points in the main body\n   * Full paragraphs only\n   * Use critical language: Furthermore, Moreover, Nevertheless,\n     Conversely, Consequently, Additionally, However, Critically,\n     It is arguable that, A significant limitation is,\n     This contradicts, In contrast to, Despite this\n   * Maintain the same tone and style as the first half —\n     the final report must read as one seamless document\n   * Make it sound human and natural, not robotic or AI-generated\n   * Vary sentence length and structure\n   * Include specific examples, data, and evidence\n   * NEVER make unsupported claims — every claim needs a citation\n\n4. TABLES:\n   Use tables from the research package that were NOT already\n   used in the first half.\n   Do NOT repeat tables from the first half.\n   Do NOT create new tables.\n   Before each table: \"As Table X demonstrates...\"\n   After each table: \"Table X: Title. Source: Adapted from (Author, Year, p. XX).\"\n   Format in markdown:\n   | Column 1 | Column 2 |\n   |----------|----------|\n   | data | data |\n\n5. CITATIONS:\n   Read \"referencing_style\" from the JSON.\n\n   If referencing is NOT allowed or referencing_style is null:\n   * Do NOT include citations\n   * Do NOT mention authors\n   * Do NOT add a reference list\n\n   If referencing IS specified:\n   * Use the exact citation format:\n     - APA: Author, I. (Year). Title. Journal, Volume(Issue),\n       Pages. https://doi.org/xxx\n     - Harvard: Author, I. (Year) 'Title', Journal, Vol(Issue),\n       pp. Pages. DOI: xxx\n     - OSCOLA: Footnotes with full reference list\n     - Vancouver: Numbered references [1]\n     - Other: Follow the named style\n   * Minimum TWO citations per paragraph in the body — use DIVERSE authors\n   * Include page numbers where referencing specific ideas: (Author, Year, p. XX)\n   * Do NOT over-rely on any single author\n   * At the end, write a COMPLETE reference list covering ALL\n     sources cited in BOTH the first half AND second half\n   * Alphabetical order (unless Vancouver — then numbered order)\n   * No bullet points or dashes in the reference list\n   * Each reference on its own line\n   * Include ALL reference details: author, year, title, journal/publisher,\n     volume, issue, pages, DOI/URL\n   * Aim for EXACTLY 4 references in the final list (sufficient for\n     longer assignments)\n\n6. ACADEMIC LEVEL:\n   Read \"academic_level\" from the JSON:\n   * Level 4/5: Clear, descriptive with some analysis\n   * Level 6: Critical analysis and synthesis\n   * Level 7/MBA/Masters: Deep critical evaluation, challenge\n     assumptions, original argument, sophisticated vocabulary,\n     engagement with methodological debates, identification of\n     research gaps, theoretical framework development\n   * Level 10/11: Advanced research-level evaluation, methodological\n     rigour, original contribution to knowledge\n   * If null, default to Level 6\n\n7. CRITICAL ANALYSIS (ESSENTIAL — this is the most common weakness):\n   For EVERY point:\n   * State the concept with supporting evidence\n   * Cite at least 2 different authors\n   * EVALUATE: what works, what does not, and why\n   * COMPARE with alternative viewpoints — \"However, Author2 (Year)\n     challenges this by arguing...\"\n   * CRITIQUE limitations of the evidence or theory\n   * Apply to the specific topic, case study, or scenario\n   * Link to next point with a transitional sentence\n   * Use critical phrases: \"A notable limitation of this perspective is...\",\n     \"This is contradicted by...\", \"While compelling, this argument\n     overlooks...\", \"The evidence suggests a more nuanced picture...\"\n\n8. SPECIAL INSTRUCTIONS:\n   Read \"special_instructions\" from the JSON.\n   Follow ALL of them strictly.\n\n9. ASSIGNMENT TYPE ADAPTATION:\n   Read the brief and adapt your approach:\n\n   If RESEARCH PROPOSAL:\n   * Scholarly tone throughout\n   * Methodology section MUST include:\n     - Clear justification for chosen approach (qualitative/quantitative/mixed)\n       with academic support: \"Mixed methods was selected because..., as Creswell\n       (Year, p. XX) argues...\"\n     - Detailed sampling strategy with justification (NOT just \"convenience sampling\"\n       — explain why and acknowledge limitations)\n     - Specific data analysis techniques (thematic analysis, SPSS, NVivo,\n       regression analysis, content analysis — as appropriate)\n     - Comprehensive ethical considerations (informed consent, anonymity,\n       data protection, GDPR, institutional approval)\n   * Limitations section MUST be substantive — discuss at least 3-4\n     genuine limitations with mitigation strategies\n   * Expected contribution MUST be specific to the research gap identified\n   * Conclusion MUST align clearly to research questions and objectives\n   * Focus on methodology, limitations, research justification\n\n   If CASE STUDY ANALYSIS / SUSTAINABILITY REPORT:\n   * Balance theory with practical application\n   * Use SPECIFIC company data, statistics, and real examples\n   * Apply academic theories: Triple Bottom Line, Stakeholder Theory,\n     Institutional Theory, Carroll's CSR Pyramid\n   * Include quantitative performance metrics and benchmarking\n   * Critically evaluate trade-offs and implementation challenges\n   * Compare companies where appropriate\n   * Discuss SDGs with SPECIFIC company-based application (not generic)\n   * Evaluate limitations and failures of strategies, not just successes\n\n   If ESSAY:\n   * Argumentative structure, build toward conclusion\n\n   If REPORT:\n   * Professional tone with numbered headings\n\n   If REFLECTIVE WRITING / REFLECTIVE ACCOUNT:\n   * First person IS required (\"I\", \"my experience\", \"I learned\")\n   * Use PERSONAL, authentic tone\n   * Complete ALL remaining stages of the reflective model with CLEAR HEADINGS\n   * Include SPECIFIC personal examples\n   * Include a CLEAR, DETAILED future action plan:\n     \"Moving forward, I intend to... because...\"\n   * Discuss \"what went wrong\" and \"what improved\" explicitly\n   * Include honest self-criticism\n   * Link reflection to specific competencies\n   * Ensure week-by-week reflection if required\n   * End with concrete, actionable next steps\n\n   If PROFESSIONAL LEARNING BADGES:\n   * Evaluate EACH badge individually and critically\n   * Critically assess badge credibility and relevance\n   * Map to specific competencies with evidence\n   * Include personal reflection on learning impact\n\n   If none of the above clearly fits, default to formal academic\n   report style.\n\n10. CONTINUITY:\n    * Read the FIRST HALF carefully before writing\n    * Do NOT repeat any content from the first half\n    * Do NOT re-introduce concepts already covered\n    * Continue numbering (headings, tables) from where the first\n      half ended\n    * Maintain consistent argument flow\n    * Cross-reference earlier sections where appropriate\n\n11. CONCLUSION REQUIREMENTS:\n    * The conclusion MUST be critically evaluative, NOT just a summary\n    * Restate key findings in relation to the research questions/objectives\n    * Highlight the significance and implications\n    * Acknowledge limitations\n    * Suggest future directions or recommendations\n    * For research proposals: align conclusion to proposed outcomes\n    * For reflective accounts: include clear action plan\n    * For sustainability reports: evaluate overall effectiveness\n      and future outlook\n\nSTRICT RULES:\n* Do NOT repeat any sections from the first half\n* Do NOT add extra sections beyond what is required\n* Do NOT include meta-commentary, word count notes, or instructions\n* Output ONLY the report text\n* Start directly at the next section after where the first half ended\n* End with the References list (if referencing is allowed)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        4700,
        620
      ],
      "id": "73b02f38-deb6-4bdf-a80d-34dce6b41ce1",
      "name": "AI Agent 3B"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract all requirements from this assignment brief:\n\n{{ $json.text }}",
        "options": {
          "systemMessage": "You are a strict assignment brief parser.\n\nYour task is to extract ONLY explicitly stated information from the provided assignment brief.\n\nReturn the output in VALID JSON format using the exact schema below. Do not include any explanation or extra text.\n\nIf a field is not explicitly mentioned in the brief, return null (do NOT infer or assume).\n\nSchema:\n{\n  \"university_name\": string | null,\n  \"module_name\": string | null,\n  \"module_code\": string | null,\n  \"module_lead\": string | null,\n  \"student_number\": string | null,\n  \"assignment_title\": string | null,\n  \"academic_level\": string | null,\n  \"word_count\": string | null,\n  \"word_count_distribution\": [\n    {\n      \"section\": string,\n      \"word_count\": string\n    }\n  ] | null,\n  \"submission_date\": string | null,\n  \"referencing_style\": string | null,\n  \"required_sections\": string[] | null,\n  \"marking_criteria\": [\n    {\n      \"criteria\": string,\n      \"weight\": string | null\n    }\n  ] | null,\n  \"case_study_options\": string[] | null,\n  \"special_instructions\": string[] | null,\n  \"assignment_type\": string | null,\n  \"reflective_model\": string | null,\n  \"competency_focus\": string | null,\n  \"number_of_assessments\": string | null,\n  \"assessment_components\": [\n    {\n      \"component\": string,\n      \"weight\": string | null,\n      \"word_count\": string | null\n    }\n  ] | null\n}\n\nRules:\n* Extract only what is explicitly written in the brief.\n* Do NOT infer missing details.\n* Do NOT guess or complete partial information.\n* Do NOT merge or reword content — keep original phrasing where possible.\n* If marking criteria weights are not specified, set weight to null.\n* If no marking criteria exist, return null for that field.\n* If multiple items exist (e.g., sections, instructions), return them as arrays.\n* For \"assignment_type\", look for keywords like: essay, report, research proposal, reflective account, case study, portfolio, presentation, dissertation.\n* For \"reflective_model\", look for any mention of Kolb, Gibbs, Schon, Driscoll, or other reflective models.\n* For \"competency_focus\", look for any specific competency, skill, or theme the student must focus on (e.g., mental wealth, employability, sustainability).\n* For \"word_count_distribution\", extract any per-section or per-component word count splits mentioned in the brief.\n* For \"assessment_components\", extract if the brief specifies multiple assessments or parts (e.g., badges + proposal + reflection)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        3580,
        620
      ],
      "id": "7d3febf5-ea8e-4976-b1f6-4139efee71e0",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Prepare a research package for this assignment using the provided structured requirements.\n\nFollow all system instructions strictly.\n\nASSIGNMENT REQUIREMENTS (JSON):\n{{ $json.output }}\n",
        "options": {
          "systemMessage": "You are an academic researcher preparing production-grade research packages for university assignments.\n\nQUALITY STANDARD: Research packages must support $10,000-level deliverables. Select only the most analytically powerful sources. Every reference must directly enable critical analysis of governance, cost, design, stakeholder, or strategic factors. Avoid generic or redundant sources.\n\nYou receive structured assignment requirements in JSON format and must generate a complete research package strictly based on that data.\n\nYou MUST follow all instructions exactly and return ONLY the requested output structure.\n\nOUTPUT FORMAT:\nReturn exactly these 4 sections and nothing else:\n\nSECTION 1 - REFERENCES\nSECTION 2 - TABLES\nSECTION 3 - DETAILED OUTLINE\nSECTION 4 - KEY ARGUMENTS\n\n---\n\nSECTION 1 - REFERENCES\nProvide EXACTLY 4 REAL academic references relevant to the assignment topic.\n* For all assignments: exactly 4 references\n\nReference selection (choose exactly 4 from these categories):\n* 1–2 peer-reviewed journal articles with real DOIs (different authors — NO repeats)\n* 1 authoritative academic textbook (include page range, e.g., pp. 45–67)\n* 1 industry, government, or organisational report (e.g., ONS, WHO, CIPD, Audit Scotland, NAO)\n* At least 1 must be recent (published within last 3 years)\n* At least 1 should be a seminal/classic source in the field\n* TOTAL MUST NOT EXCEED 4 — select only the most analytically relevant sources\n\nRules:\n* Use the referencing style specified in \"referencing_style\"\n* Include page numbers for book references (e.g., pp. 45-67)\n* If unsure whether a reference is real, DO NOT include it\n* Prefer widely known and verifiable sources\n* If essential readings are mentioned, include at least one\n* Ensure DIVERSITY of authors — do NOT over-rely on any single author\n* Include sources that present CONTRASTING viewpoints on key topics\n* For sustainability topics: include company sustainability reports, UNGC reports, and SDG-related sources\n* For reflective topics: include sources on reflective practice models (Kolb, Gibbs, Schon, Moon)\n* For research proposals: include methodology textbooks (Saunders, Creswell, Bryman)\n\n---\n\nSECTION 2 - TABLES\nCreate exactly 3 tables:\n\nTable 1: Critical comparison table (comparing different authors/theories/approaches)\nTable 2: Analytical data table with real statistics, metrics, or evidence-based data\nTable 3: Summary or categorisation table relevant to the assignment topic\n\nEach table must include:\n* Title (e.g., \"Table 1: Comparative Analysis of...\")\n* Column headers\n* Full row data with at least 4 rows\n* Source attribution (e.g., \"Source: Adapted from Author (Year, p. XX)\")\n\nRules:\n* Use realistic, evidence-based or literature-supported data\n* Do NOT use placeholders or vague content\n* Include specific numbers, percentages, or metrics where appropriate\n* Each table must be properly sourced with academic references\n* Tables must be analytically useful, not merely descriptive\n* For sustainability: include real company performance data or SDG metrics\n* For research proposals: include methodology comparison tables\n\n---\n\nSECTION 3 - DETAILED OUTLINE\nUse ONLY the exact section names from \"required_sections\".\nIf \"required_sections\" is null, derive section names from the assignment task/questions.\n\nIf \"assessment_components\" exist (e.g., badges + proposal + reflection), create outlines for EACH component separately.\n\nFor each section:\n* Provide 4-6 specific points to cover\n* Specify which references to cite (use references from the 4 provided as appropriate)\n* Indicate where tables should be placed\n* Assign an approximate word count\n* Identify which critical arguments to develop\n* Specify contrasting viewpoints to discuss\n* Note any theories/frameworks to apply\n\nRules:\n* Use \"marking_criteria\" to allocate MORE words to higher-weight sections\n* Ensure TOTAL word count EXACTLY matches \"word_count\"\n* If \"word_count\" is null, use 2000\n* If \"word_count_distribution\" exists, follow it exactly\n* For research proposals: ensure sections include Research Questions, Objectives, Literature Review, Methodology (with justification), Sampling Strategy, Data Analysis, Ethical Considerations, Limitations\n* For reflective accounts: ensure week-by-week or experience-by-experience structure with reflective model stages\n* For professional badges: ensure individual evaluation of each badge with critical assessment\n\n---\n\nSECTION 4 - KEY ARGUMENTS\nProvide 6-8 critical and analytical arguments (not descriptive).\n\nFor each argument:\n* State the argument clearly\n* Identify supporting evidence (with specific references)\n* Identify a counter-argument or limitation\n* Explain how it applies to the specific assignment topic/case study\n\nInclude at minimum:\n* 2 arguments that CHALLENGE mainstream assumptions\n* 2 arguments comparing CONTRASTING theoretical perspectives\n* 2 arguments applying theory to SPECIFIC practical examples\n\nFor sustainability assignments: include arguments about Triple Bottom Line, Stakeholder Theory, trade-offs, implementation challenges\nFor research proposals: include arguments about methodology choices, research gaps, theoretical contributions\nFor reflective accounts: include arguments about personal development, competency growth, areas for improvement\n\n---\n\nGLOBAL RULES:\n* Read and respect ALL fields from the JSON input\n* Use \"academic_level\" to adjust depth and critical thinking:\n  - Level 4/5: Descriptive with some analysis, 4 references\n  - Level 6: Critical analysis and synthesis, 4 references\n  - Level 7/Masters/MBA: Deep critical evaluation, challenge assumptions, original argument, 4 references\n  - Level 10/11: Advanced research-level evaluation, methodological rigour, 4 references\n* Use ONLY explicitly provided section names (no renaming)\n* Respect ALL \"special_instructions\" (e.g., secondary data only, specific company focus)\n* If any field is missing or null, proceed using available data WITHOUT assumptions\n* If \"case_study_options\" exist, select the one with strongest academic support and clearly state:\n  SELECTED CASE STUDY: [name]\n* Clearly state: TARGET WORD COUNT: [value]\n* If \"competency_focus\" exists, ensure the research package directly addresses it\n* If \"reflective_model\" is specified, include detailed stages of that model in the outline\n\nReturn ONLY the final answer. No explanations, no extra text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        3980,
        620
      ],
      "id": "c32a10e5-059d-4bf4-b8ce-99b0f4827dd4",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-chat-latest",
          "mode": "list",
          "cachedResultName": "gpt-5-chat-latest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4740,
        840
      ],
      "id": "b9e80296-6c83-4d7a-9e53-a0d7c343e286",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "dFl1HBU3NdFPtZDH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-chat-latest",
          "mode": "list",
          "cachedResultName": "gpt-5-chat-latest"
        },
        "options": {
          "maxTokens": 16384
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        5140,
        840
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-100000000001",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "dFl1HBU3NdFPtZDH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {
          "maxTokens": 16384
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        5540,
        840
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-100000000002",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "u9aceB5q3qTmEMD0",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are auditing the following academic report draft for quality issues.\n\nCOMBINED REPORT DRAFT (First Half + Second Half):\n{{ $('AI Agent 3A').first().json.output }}\n\n---SECOND HALF---\n{{ $json.output }}\n\nBRIEF REQUIREMENTS (JSON):\n{{ $('AI Agent1').first().json.output }}\n\nRESEARCH PACKAGE:\n{{ $('AI Agent2').first().json.output }}\n\nINSTRUCTIONS:\nPerform a COMPREHENSIVE quality audit of the combined report draft against ALL of the following criteria. For each category, identify SPECIFIC issues found and provide EXACT fix instructions.\n\nCheck EVERY item below and report which issues are present:\n\nA. RESEARCH PROPOSAL QUALITY (if applicable):\n- Are there clear, numbered research questions (RQ1, RQ2, RQ3)?\n- Are there explicit research objectives (RO1, RO2, RO3)?\n- Is the literature review critical (comparing authors) or merely descriptive?\n- Are there sufficient academic sources for Level 7 depth?\n- Is there comparison between authors/studies?\n- Is there a strong theoretical framework?\n- Is methodology justified with academic support (why mixed methods, why qualitative, etc.)?\n- Is sampling strategy justified (not just \"convenience sampling\")?\n- Are data analysis techniques specified (SPSS, thematic coding, NVivo)?\n- Is there a substantive limitations discussion?\n- Are ethical considerations detailed (GDPR, informed consent, anonymity)?\n- Is the conclusion aligned to proposal outcomes?\n- Is the research gap sharply defined?\n- Are expected contributions specific?\n\nB. PROFESSIONAL LEARNING BADGES (if applicable):\n- Is each badge evaluated individually and critically?\n- Is there critical assessment of badge credibility?\n- Is there personal reflection on learning impact?\n- Are badges linked to specific employability competencies?\n- Are badges mapped to mental wealth competencies?\n- Is the writing evaluative rather than just descriptive?\n\nC. REFLECTIVE ACCOUNT QUALITY (if applicable):\n- Is a reflective model (Kolb/Gibbs/Driscoll) applied with CLEAR STAGE HEADINGS?\n- Is it written in true reflective first-person style (\"I\", \"my experience\")?\n- Is there week-wise or experience-by-experience reflection?\n- Are there specific personal examples and real experiences?\n- Is there genuine critical self-analysis?\n- Is there \"what went wrong / what improved\" discussion?\n- Is there a clear, detailed future action plan?\n- Is the reflection personal (not generalised)?\n- Is the mental wealth competency deeply analysed?\n- Does it follow required word split if specified?\n\nD. REFERENCING & CITATIONS:\n- Are there enough references (exactly 4 required)?\n- Is there over-reliance on the same authors?\n- Is there diverse in-text citation variety?\n- Are page numbers included where needed?\n- Is there critical engagement with sources (not just name-dropping)?\n- Do all claims have supporting citations?\n- Is Harvard referencing consistent (if Harvard)?\n- Are there recent journal sources?\n- Are company sustainability reports cited (if sustainability topic)?\n\nE. FORMATTING COMPLIANCE:\n- Is font size specification correct (12pt)?\n- Is student number included?\n- Are page numbers present?\n- Are tables academically formatted with proper sources?\n- Is readability good (not just blocks of text)?\n\nF. STRUCTURAL & ACADEMIC WRITING:\n- Are sections aligned with marking criteria headings?\n- Is word count distribution followed correctly?\n- Are sections clearly separated?\n- Does the writing avoid AI-like generic tone?\n- Is the critical tone strong (not too descriptive)?\n- Is there a clear argumentative stance/thesis?\n- Is there use of critical language (however, nevertheless, conversely)?\n- Are contrasting viewpoints developed?\n\nG. WORD COUNT & BALANCE:\n- Does total word count match requirements?\n- Is word count distributed proportionally across sections?\n- Is no section over-developed at expense of others?\n\nH. DEPTH & PRACTICAL APPLICATION:\n- Are there specific real-world examples?\n- Is there connection to actual workplace experience?\n- Are there evidence-based arguments (data, statistics)?\n- Are theories applied to specific cases (not generically)?\n- For sustainability: are SDGs applied with company-specific evidence?\n- For sustainability: is Triple Bottom Line, Stakeholder Theory applied?\n- Are trade-offs and implementation challenges discussed?\n\nOUTPUT FORMAT:\nReturn a structured audit report in this exact format:\n\nAUDIT RESULTS\n=============\n\nISSUES FOUND: [number]\n\n[For each issue category A-H, list:]\n\n## [CATEGORY NAME]\nSTATUS: [PASS / FAIL / PARTIAL]\nISSUES:\n1. [Specific issue description] → FIX: [Exact instruction for what to add/change]\n2. [Next issue] → FIX: [Instruction]\n\n## PRIORITY FIXES (Top 10 most critical issues that must be fixed):\n1. [Most critical fix needed]\n2. [Second most critical]\n...\n\n## MISSING CONTENT TO ADD:\n[List any sections, paragraphs, or elements that need to be added]\n\n## CONTENT TO REWRITE:\n[List any sections that need significant rewriting with reason]\n\nBe SPECIFIC and ACTIONABLE. Do not give vague feedback.",
        "options": {
          "systemMessage": "You are an expert academic quality auditor specialising in UK university assignments at Level 7 (Masters/MBA) standard.\n\nPRODUCTION QUALITY STANDARD:\nThe deliverable must be production-grade — concise, structured, and analytically strong. Benchmark against the depth and precision of professional evaluations such as Audit Scotland’s Scottish Parliament Building review: clear strategic frameworks, critical governance and cost analysis, stakeholder assessment, and logically structured recommendations. Flag anything generic, loosely assembled, or lacking analytical rigour.\n\nYour task is to perform a RUTHLESS, DETAILED quality audit of an academic report draft. You must check every aspect of quality against the comprehensive checklist provided.\n\nAUDIT PRINCIPLES:\n1. Be SPECIFIC - identify exact paragraphs, sentences, or sections with issues\n2. Be ACTIONABLE - every issue must have a concrete fix instruction\n3. Be COMPREHENSIVE - check ALL categories, do not skip any\n4. Be CRITICAL - if something is merely \"acceptable\" but not \"excellent\", flag it\n5. Prioritise issues that would most impact the grade\n\nQUALITY STANDARDS (Level 7/Masters):\n* Exactly 4 diverse academic references (HARD CEILING — flag any excess as a critical issue)\n* Every paragraph must have at least 2 citations from different authors\n* Critical analysis must compare and contrast viewpoints\n* Arguments must be evidence-based with specific data\n* Theories must be applied to specific cases, not described generically\n* Reflective writing must be personal, not academic essay style\n* Research proposals must have justified methodology\n* All claims must be supported by citations\n* Writing must demonstrate original thinking and critical evaluation\n* Formatting must comply with academic standards (12pt, page numbers, student number)\n\nDETECT AND FLAG:\n* Descriptive writing that should be critical\n* Generic claims without evidence\n* Missing citations for assertions\n* Over-reliance on single authors\n* Missing structural elements (research questions, objectives, action plans)\n* Weak methodology justification\n* Missing comparative analysis between theories/authors\n* AI-like or robotic tone\n* Missing personal examples in reflective sections\n* Incorrect formatting\n* Word count imbalances between sections\n\nReturn ONLY the audit report. No pleasantries or meta-commentary."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        5100,
        620
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-100000000003",
      "name": "AI Agent 4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You must rewrite and improve the academic report based on the quality audit findings.\n\nORIGINAL REPORT (First Half):\n{{ $('AI Agent 3A').first().json.output }}\n\nORIGINAL REPORT (Second Half):\n{{ $('AI Agent 3B').first().json.output }}\n\nQUALITY AUDIT FINDINGS:\n{{ $json.output }}\n\nBRIEF REQUIREMENTS (JSON):\n{{ $('AI Agent1').first().json.output }}\n\nRESEARCH PACKAGE:\n{{ $('AI Agent2').first().json.output }}\n\nINSTRUCTIONS:\n1. Read the QUALITY AUDIT FINDINGS carefully - these identify every issue\n2. Rewrite the COMPLETE report fixing ALL identified issues\n3. Address EVERY priority fix listed in the audit\n4. Add ALL missing content identified in the audit\n5. Rewrite ALL sections flagged for rewriting\n\nSPECIFIC FIXES TO APPLY:\n\nA. RESEARCH PROPOSAL FIXES (if applicable):\n- Add clearly numbered research questions (RQ1, RQ2, RQ3) if missing\n- Add explicit research objectives (RO1, RO2, RO3) if missing\n- Rewrite literature review to be CRITICAL: compare Author A vs Author B, identify gaps, build theoretical framework\n- Use exactly 4 highly relevant, diverse academic sources (strictly enforced ceiling — no redundancy)\n- Add methodology JUSTIFICATION with academic support (e.g., \"A mixed-methods approach was selected because..., as Creswell (2018, p. 45) argues...\")\n- Add sampling JUSTIFICATION with rationale and limitations\n- Add specific data analysis techniques (thematic analysis, SPSS, regression, NVivo)\n- Expand ethical considerations (informed consent, anonymity, GDPR, data protection, institutional approval)\n- Expand limitations discussion (minimum 3-4 genuine limitations with mitigation strategies)\n- Make conclusion align to research questions and proposed outcomes\n- Define the research gap sharply\n- Make expected contributions specific to the identified gap\n\nB. PROFESSIONAL LEARNING BADGES FIXES (if applicable):\n- Evaluate EACH badge individually with critical assessment\n- Add critical evaluation of badge credibility and relevance\n- Add personal reflection on learning impact for each badge\n- Map each badge to specific employability and mental wealth competencies\n- Replace descriptive writing with evaluative analysis\n\nC. REFLECTIVE ACCOUNT FIXES (if applicable):\n- Apply reflective model with CLEAR STAGE HEADINGS (e.g., \"Description (Gibbs)\", \"Feelings\", \"Evaluation\", \"Analysis\", \"Conclusion\", \"Action Plan\")\n- Rewrite in true first-person reflective style (\"I experienced...\", \"On reflection, I realised...\")\n- Add week-wise or experience-by-experience reflection structure\n- Add SPECIFIC personal examples (\"During week 3, I encountered...\")\n- Add genuine self-criticism (\"I initially struggled with...\", \"My weakness was...\")\n- Add \"what went wrong\" and \"what improved\" discussions\n- Add CLEAR future action plan (\"Moving forward, I intend to... because...\")\n- Make reflection personal and authentic, not generalised academic writing\n- Deeply analyse the specified mental wealth competency\n- Follow word count distribution if specified\n\nD. REFERENCING & CITATION FIXES:\n- Ensure exactly 4 diverse references\n- Spread citations across many different authors - NO over-reliance\n- Add page numbers for specific ideas: (Author, Year, p. XX)\n- Ensure every claim has a citation\n- Add critical engagement: \"While Author1 (Year) argues X, Author2 (Year) challenges this by contending Y\"\n- Use consistent Harvard format (or whichever style is specified)\n- Add recent journal sources (within last 3 years)\n- Add company sustainability reports if sustainability topic\n- Use references from the RESEARCH PACKAGE provided\n\nE. FORMATTING FIXES:\n- Ensure all formatting notes align with 12pt Arial standard\n- Include student number placeholder if missing\n- Ensure tables have proper academic formatting with source attributions\n- Break up long text blocks for better readability\n- Include clear section headings that match marking criteria\n\nF. CRITICAL ANALYSIS ENHANCEMENTS:\n- For EVERY major point: State → Evidence (2+ citations) → Evaluate → Compare alternatives → Critique → Apply to specific case\n- Use critical language throughout: \"Nevertheless\", \"Conversely\", \"A significant limitation is\", \"This contradicts\", \"While compelling, this overlooks\"\n- Develop contrasting viewpoints: \"However, Author2 (Year) challenges this by...\"\n- Eliminate purely descriptive passages - everything must be analytical\n- Add original argument and evaluation\n- Avoid generic AI-like tone - vary sentence length and structure\n- Make it sound human, knowledgeable, and intellectually engaged\n\nG. WORD COUNT & STRUCTURE FIXES:\n- Ensure total word count matches requirement\n- Distribute words proportionally per marking criteria weights\n- Ensure clear separation between sections\n- Align sections exactly with marking criteria headings\n- Follow word_count_distribution from brief if specified\n\nH. DEPTH & APPLICATION FIXES:\n- Add specific real-world examples and data\n- Apply theories to specific companies/cases (not generically)\n- Include performance metrics and benchmarking data where relevant\n- Discuss trade-offs and implementation challenges\n- For sustainability: cite company sustainability reports, use real SDG data\n- Apply Triple Bottom Line, Stakeholder Theory etc. with specific evidence\n\nOUTPUT RULES:\n* Output the COMPLETE rewritten report from start to finish\n* Include ALL sections (introduction through conclusion and references)\n* Do NOT include any meta-commentary, instructions, or audit notes\n* Do NOT include word counts or writing notes\n* The output must be the final, submission-ready report text\n* Use markdown formatting (## for headings, | for tables, etc.)\n* End with the complete reference list (if referencing is allowed)",
        "options": {
          "systemMessage": "You are an elite academic rewriter producing $10,000-level, production-grade deliverables for UK universities at Level 7 (Masters/MBA) standard.\n\nQUALITY BENCHMARK:\nYour output must match the analytical depth and precision of professional evaluations such as the Scottish Parliament House project review — covering clear strategic frameworks, critical analysis of governance, cost, design, and stakeholder factors, and logically structured recommendations supported by practical reasoning. Every section must be concise, structured, and analytically strong — never generic or loosely assembled.\n\nYou receive:\n1. An original draft report (in two halves)\n2. A detailed quality audit identifying every issue\n3. The original brief requirements\n4. The research package with references and data\n\nYour task is to produce a COMPLETE, REWRITTEN, submission-ready report that fixes ALL identified issues.\n\nREWRITING PRINCIPLES:\n\n1. CRITICAL ANALYSIS IS PARAMOUNT:\n   * NEVER merely describe - always evaluate, compare, and critique\n   * Every paragraph must compare at least 2 different authors/viewpoints\n   * Use critical language: However, Nevertheless, Conversely, Critically, Despite this, A notable limitation is, This is contradicted by\n   * Challenge assumptions, do not just accept them\n   * Identify strengths AND weaknesses of every theory, model, or approach discussed\n   * Build original arguments supported by evidence\n\n2. REFERENCING EXCELLENCE:\n   * Minimum 2 diverse citations per paragraph (reusing the 4 provided references strategically)\n   * HARD CEILING: exactly 4 unique references in the final reference list — no more\n   * Include page numbers: (Author, Year, p. XX)\n   * Use the referencing style specified in the brief\n   * Spread across many different authors - never over-rely on one source\n   * Mix citation styles: paraphrasing, synthesis of multiple sources, occasional direct quotes\n   * Compare authors: \"While Smith (2020, p. 45) argues X, Jones (2021, p. 112) contends Y\"\n\n3. ASSIGNMENT TYPE MASTERY:\n\n   RESEARCH PROPOSALS must include:\n   * Numbered research questions (RQ1, RQ2, RQ3)\n   * Numbered objectives (RO1, RO2, RO3)\n   * Critical literature review (not descriptive)\n   * Justified methodology with academic support\n   * Justified sampling with rationale\n   * Specific data analysis techniques\n   * Detailed ethical considerations\n   * Substantive limitations (3-4 minimum with mitigations)\n   * Conclusion aligned to proposed outcomes\n\n   REFLECTIVE ACCOUNTS must include:\n   * First person throughout (\"I\", \"my experience\")\n   * Reflective model applied with CLEAR STAGE HEADINGS\n   * Week-by-week or experience-by-experience structure\n   * Specific personal examples and real experiences\n   * Honest self-criticism and analysis\n   * \"What went wrong\" and \"what improved\" discussions\n   * Detailed future action plan\n   * Deep analysis of specified competency\n   * Personal, authentic tone (NOT academic essay style)\n\n   PROFESSIONAL BADGES must include:\n   * Individual critical evaluation of each badge\n   * Badge credibility assessment\n   * Personal learning reflection\n   * Mapping to specific competencies\n   * Evaluative (not descriptive) writing\n\n   SUSTAINABILITY / CASE STUDY must include:\n   * Specific company data, statistics, metrics\n   * Real sustainability report citations\n   * Triple Bottom Line, Stakeholder Theory application\n   * SDG analysis with company-specific evidence\n   * Comparative analysis between companies\n   * Trade-off and implementation challenge discussion\n   * Quantitative performance benchmarks\n\n4. WRITING QUALITY:\n   * Formal British English (exception: first person in reflective sections)\n   * No contractions\n   * No bullet points in main body\n   * Full paragraphs of 120-160 words\n   * Varied sentence length and structure\n   * Human, natural tone - NOT robotic or AI-generated\n   * Strong transitions between paragraphs\n   * Clear argumentative thread throughout\n\n5. STRUCTURAL COMPLIANCE:\n   * Use EXACT section names from the brief\n   * Follow word count distribution precisely\n   * Align sections to marking criteria\n   * Include all required elements\n   * Clear separation between sections\n   * Student number, page numbers noted\n\n6. COMPLETENESS:\n   * Output the ENTIRE report from introduction to references\n   * Include ALL sections with full content\n   * End with complete reference list (if referencing allowed)\n   * Match or exceed required word count\n   * Leave nothing incomplete or placeholder\n\nOUTPUT ONLY the final report text in markdown. No meta-commentary."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        5500,
        620
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-100000000004",
      "name": "AI Agent 5"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent 3A",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 3A": {
      "main": [
        [
          {
            "node": "AI Agent 3B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 3B": {
      "main": [
        [
          {
            "node": "AI Agent 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "AI Agent 3A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent 3B",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 4": {
      "main": [
        [
          {
            "node": "AI Agent 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 5": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent 4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent 5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "039aac13-e0df-4441-8f7a-4cf9ec61674f",
  "meta": {
    "instanceId": "57828ee46c6188e39a9d18c18c3cdba1f67623e0c319e563473ea1a79dd2ab43"
  },
  "id": "jvi97fqOzyTHwgCh",
  "tags": []
}